.md-link {
  display: inline-flex;
  align-items: center;
  gap: var(--md-size-4);
  color: var(--md-color-cta-primary-default);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: var(--md-typography-family-body);
  font-weight: var(--md-typography-weight-regular);
  font-size: var(--md-typography-size-16);
  text-decoration: underline;
  padding: var(--md-size-2) var(--md-size-1);
}

.md-link__icon {
  height: var(--md-size-20);
  width: var(--md-size-20);
}

.md-link:hover {
  color: var(--md-color-cta-primary-hover);
  text-decoration-thickness: 0.0938rem;
  text-decoration-color: var(--md-color-cta-primary-hover);
}

.md-link:focus-visible {
  color: var(--md-color-cta-primary-focus);
  outline: var(--md-size-1) solid var(--md-color-border-tertiary);
}

.md-link:active {
  background-color: var(--md-color-surface-primary);
}

.md-link:visited {
  color: var(--md-color-text-visited);
}
