/* INFO BOX */
.md-info-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: 'Open sans';
  font-size: 1rem;
  padding: 1rem;
  background-color: var(--mdSecondaryColor20);
  border: 1px dashed var(--mdPrimaryColor);
}
.md-info-box:not(.md-info-box--fullWidth) {
  max-width: 634px;
}

/* ALERT MESSAGE */
.md-alert-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Open sans';
  font-size: 1rem;
  width: 100%;
  background-color: var(--mdPrimaryColor10);
}

.md-alert-message:not(.md-alert-message--fullWidth) {
  max-width: 634px;
}

.md-alert-message--confirm {
  background-color: var(--mdPrimaryColor20);
}
.md-alert-message--warning {
  background-color: var(--mdWarningLightColor);
}
.md-alert-message--error {
  background-color: var(--mdErrorColor);
  color: #fff;
}

.md-alert-message__icon {
  flex-shrink: 0;
}

.md-alert-message__content {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.md-alert-message__content--start {
  align-items: flex-start;
}
.md-alert-message__content--end {
  align-items: flex-end;
}

.md-alert-message__button {
  margin-right: 0.75rem;
}

.md-alert-message--error .md-alert-message__button:hover {
  outline-color: #fff;
}
.md-alert-message--error .md-alert-message__button {
  color: #fff;
}
