/* INFO BOX */
.md-info-box {
  display: flex;
  align-items: center;
  gap: var(--md-size-16);
  font-family: var(--md-font-family-open-sans);
  font-size: var(--md-typography-body-m-font-size);
  padding: var(--md-size-16);
  background-color: var(--md-color-surface-tertiary);
  border: 1px dashed var(--md-color-border-tertiary);
}
.md-info-box:not(.md-info-box--fullWidth) {
  max-width: 634px;
}

/* ALERT MESSAGE */
.md-alert-message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--md-font-family-open-sans);
  font-size: var(--md-typography-body-m-font-size);
  width: 100%;
  background-color: var(--md-color-surface-secondary);
}

.md-alert-message:not(.md-alert-message--fullWidth) {
  max-width: 634px;
}

.md-alert-message--confirm {
  background-color: var(--md-color-surface-info-primary);
}
.md-alert-message--warning {
  background-color: var(--md-color-attention-warning-bg);
}
.md-alert-message--error {
  background-color: var(--md-color-attention-error-primary);
  color: var(--md-color-text-invert);
}

.md-alert-message__icon {
  flex-shrink: 0;
}

.md-alert-message__content {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.md-alert-message__content--start {
  align-items: flex-start;
}
.md-alert-message__content--end {
  align-items: flex-end;
}

.md-alert-message__button {
  margin-right: 0.75rem;
}

.md-alert-message--error .md-alert-message__button:hover {
  outline-color: #fff;
}
.md-alert-message--error .md-alert-message__button {
  color: #fff;
}
