.md-tooltip {
  background-color: var(--md-color-surface-primary);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12), 0px 2px 4px 0px rgba(0, 0, 0, 0.12),
    0px 0px 1px 0px rgba(0, 0, 0, 0.14);
  border: 1px solid var(--md-color-border-tertiary);
  font-family: var(--md-font-family-open-sans);
  height: fit-content;
  width: fit-content;
  font-weight: 400;
  font-size: var(--md-typography-body-s-font-size);
  border-radius: var(--md-radius-md);
  padding: var(--md-size-8);
  z-index: 950;
}

.md-tooltip--small {
  font-size: var(--md-typography-label-s-font-size);
}
.md-tooltip--large {
  font-size: var(--md-typography-body-m-font-size);
}

.md-tooltip__anchor {
  display: flex;
  cursor: pointer;
  width: fit-content;
}
