.md-tooltip {
  background-color: var(--md-color-background-primary);
  box-shadow: 0px var(--md-size-4) var(--md-size-8) 0px rgba(0, 0, 0, 0.12),
    0px var(--md-size-2) var(--md-size-4) 0px rgba(0, 0, 0, 0.12), 0px 0px 1px 0px rgba(0, 0, 0, 0.14);
  border: 1px solid var(--md-color-border-tertiary);
  font-family: var(--md-typography-family-body);
  height: fit-content;
  width: fit-content;
  font-weight: var(--md-typography-weight-regular);
  font-size: var(--md-typography-size-14);
  border-radius: var(--md-size-8);
  padding: 0.625rem;
  z-index: 950;
}

.md-tooltip--small {
  font-size: var(--md-typography-size-12);
}
.md-tooltip--large {
  font-size: var(--md-typography-size-16);
}

.md-tooltip__anchor {
  display: flex;
  cursor: pointer;
  width: fit-content;
}
