.md-tooltip {
  z-index: 2;
  background-color: var(--mdPrimaryColor20);
  color: var(--mdGreyColor);
  visibility: hidden;
  font-family: 'Open Sans';
  height: fit-content;
  width: fit-content;
  max-width: 200px;
  position: absolute;
  z-index: 99;
  font-weight: 400;
  font-size: 14px;
  /* display: grid; */
  border-radius: 4px;
  padding: 0.5em 1em 0.5em 1em;
  /* line-height: 18px;
  justify-items: right;
  justify-content: right; */
}

.md-tooltip--show {
  visibility: visible;
}

.md-tooltip--bottom {
  transform: translate(-35%, 0.7em);
}

.md-tooltip--right {
  transform: translate(2.5em, -2em);
}

.md-tooltip--top {
  transform: translate(-35%, calc(-100% - 2.7em));
}

.md-tooltip__child {
  width: fit-content;
  height: fit-content;
}
