.md-checkboxgroup {
  font-family: var(--md-font-family-open-sans);
  font-size: var(--md-typography-body-m-font-size);
  border: none;
  padding: 0;
  margin: 0;
}

.md-checkboxgroup .md-checkboxgroup__label-wrapper {
  margin-bottom: var(--md-spacing-8);
}

.md-checkboxgroup .md-checkboxgroup__label {
  display: flex;
  align-items: center;
  font-weight: 600;
  padding: 0;
}

.md-checkboxgroup .md-checkboxgroup__label > * + * {
  margin-left: var(--md-spacing-16);
}

.md-checkboxgroup .md-checkboxgroup__help-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}

.md-checkboxgroup .md-checkboxgroup__help-text--open {
  padding-top: var(--md-spacing-8);
  max-height: 2000px;
  transition: max-height 0.5s ease-in;
}

.md-checkboxgroup .md-checkboxgroup__options {
  display: flex;
  flex-direction: row;
  gap: var(--md-spacing-16);
}

.md-checkboxgroup .md-checkboxgroup__options--vertical {
  flex-direction: column;
}

.md-checkboxgroup .md-checkboxgroup__options--grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(max-content, 1fr));
}

.md-checkboxgroup__error {
  color: var(--mdErrorColor);
  font-size: 0.88rem;
  margin-top: 0.5rem;
}
