.md-accordion-item {
  background-color: var(--md-color-surface-primary);
  border: 1px solid var(--md-color-border-primary);
  color: var(--md-color-text-primary);
  font-family: var(--md-typography-family-body);
  transition: all 0.2s linear;
}

.md-accordion-item.md-accordion-item--rounded {
  border-radius: var(--md-radius-sm);
}

.md-accordion-item.md-accordion-item--secondary {
  background-color: var(--md-color-secondary-60);
}

.md-accordion-item.md-accordion-item--add {
  background-color: transparent;
  border: 1px dashed var(--md-color-grey-80);
  transition: all 0.2s linear;
}
.md-accordion-item[open].md-accordion-item--add {
  background-color: transparent;
  border: 1px dashed var(--md-color-grey-80);
  transition: all 0.2s linear;
}

.md-accordion-item:not([open], .md-accordion-item--disabled):hover {
  transition: all 0.2s linear;
  background-color: var(--md-color-surface-info-primary);
}

.md-accordion-item.md-accordion-item--secondary:not([open], .md-accordion-item--disabled):hover {
  transition: all 0.2s linear;
  background-color: var(--md-color-secondary-100);
}

.md-accordion-item.md-accordion-item--add:not([open]):hover {
  transition: all 0.2s linear;
  background-color: transparent;
}

/* Header */
.md-accordion-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: 0;
  margin: 0;
  color: var(--md-color-text-primary);
  padding: var(--md-size-16) var(--md-size-24);
  cursor: pointer;
  font-family: var(--md-typography-family-heading);
  text-align: left;
  line-height: var(--md-typography-line-height-small);
  user-select: none;
}
.md-accordion-item__header::-webkit-details-marker {
  display: none;
}

.md-accordion-item__header:focus-visible {
  outline: var(--md-size-2) solid var(--md-color-primary-80);
}

.md-accordion-item__header-left {
  display: flex;
  align-items: center;
}

.md-accordion-item__header-icon {
  color: var(--md-color-text-primary);
  width: var(--md-size-24);
  height: var(--md-size-24);
}
.md-accordion-item > .md-accordion-item__header .md-accordion-item__header-icon__open {
  display: block;
}
.md-accordion-item[open] > .md-accordion-item__header .md-accordion-item__header-icon__open {
  display: none;
}
.md-accordion-item > .md-accordion-item__header .md-accordion-item__header-icon__close {
  display: none;
}
.md-accordion-item[open] > .md-accordion-item__header .md-accordion-item__header-icon__close {
  display: block;
}

.md-accordion-item__header-label {
  font-size: var(--md-size-20);
  margin-left: var(--md-size-16);
}
.md-accordion-item:not(.md-accordion-item--disabled) .md-accordion-item__header:hover .md-accordion-item__header-label {
  text-decoration: underline;
}

/* CONTENT */
.md-accordion-item__content {
  padding: 1rem 1.8rem 1.5rem 1.8rem;
}
.md-accordion-item__content,
.md-accordion-item__content-inner {
  width: 100%;
  box-sizing: border-box;
}

.md-accordion-item__close-button {
  display: flex;
  gap: var(--md-size-16);
  padding: 0;
  background: none;
  border: 0;
  margin: 2rem 0 0 -0.2rem;
  cursor: pointer;
  font-size: var(--md-typography-size-16);
}

.md-accordion-item__close-button:hover {
  text-decoration: underline;
}

.md-accordion-item__close-button:focus-visible {
  outline: var(--md-size-2) solid var(--md-color-primary-80);
  outline-offset: var(--md-size-2);
}

.md-accordion-item__close-button__icon {
  height: var(--md-size-20);
  width: var(--md-size-20);
}

/* DISABLED */
.md-accordion-item--disabled,
.md-accordion-item--secondary.md-accordion-item--disabled {
  background-color: var(--md-color-disabled-bg);
}
.md-accordion-item--disabled .md-accordion-item__header,
.md-accordion-item--disabled .md-accordion-item__content {
  color: var(--md-color-text-disabled);
  cursor: default;
}
.md-accordion-item--disabled .md-accordion-item__header .md-accordion-item__header-icon:before,
.md-accordion-item--disabled .md-accordion-item__header .md-accordion-item__header-icon:after {
  background-color: var(--md-color-disabled-default);
}
