.md-accordion-item {
  padding: 1em;
  background-color: var(--mdPrimaryColor20);
  color: var(--mdGreyColor);
  font-family: 'Open sans';
  margin-bottom: 1em;
}

.md-accordion-item:focus-within {
  outline: 2px solid var(--mdPrimaryColor80);
  outline-offset: -2px;
}

.md-accordion-item.md-accordion-item--secondary {
  background-color: var(--mdSecondaryColor60);
}

/* Header */
.md-accordion-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: 0;
  width: 100%;
  margin: 0;
  padding: 1em;
  cursor: pointer;
  text-align: left;
}

.md-accordion-item__header:focus {
  outline: none;
}

.md-accordion-item__header-left {
  display: flex;
  align-items: center;
}

.md-accordion-item__header .md-accordion-item__header-icon {
  position: relative;
  width: 12px;
  height: 12px;
  min-width: 12px;
}
.md-accordion-item__header .md-accordion-item__header-icon:before,
.md-accordion-item__header .md-accordion-item__header-icon:after {
    content: "";
    position: absolute;
    background-color: var(--mdGreyColor);
    transition: transform 0.15s ease-out;
}
/* Vertical line */
.md-accordion-item__header .md-accordion-item__header-icon:before {
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
}
/* horizontal line */
.md-accordion-item__header .md-accordion-item__header-icon:after{
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  margin-top: -1px;
}
.md-accordion-item__header--expanded .md-accordion-item__header-icon:before {
  transform: rotate(90deg);
}
.md-accordion-item__header--expanded .md-accordion-item__header-icon:after {
  transform: rotate(180deg);
}

.md-accordion-item__header-label {
  font-size: 1.25em;
  margin-left: 1em;
}

/* CONTENT */
.md-accordion-item__content {
  padding: 0 1em;
  max-height: 0;
  overflow: hidden;
  transition: all .15s linear;
}
.md-accordion-item__content--expanded {
  max-height: 5000px;
  padding: 1em;
  transition: all .15s linear;
}

.md-accordion-item__close-button {
  display: flex;
  gap: 1em;
  padding: 0;
  background: none;
  border: 0;
  margin: 2em 0 0 -.2em;
  cursor: pointer;
  font-size: 16px;
}

.md-accordion-item__close-button:focus {
  outline: 2px solid var(--mdPrimaryColor80);
  outline-offset: 2px;
}

.md-accordion-item__close-button__icon {
  height: 20px;
  width: 20px;
}

/* DISABLED */
.md-accordion-item--disabled,
.md-accordion-item--secondary.md-accordion-item--disabled {
  background-color: var(--mdGreyColor20);
}
.md-accordion-item--disabled .md-accordion-item__header {
  color: var(--mdGreyColor60);
  cursor: default;
}
.md-accordion-item--disabled .md-accordion-item__header .md-accordion-item__header-icon:before,
.md-accordion-item--disabled .md-accordion-item__header .md-accordion-item__header-icon:after {
  background-color: var(--mdGreyColor60);
}
