.md-accordion-item {
  background-color: var(--mdPrimaryColor10);
  border: 1px solid var(--mdGreyColor60);
  color: var(--mdGreyColor);
  font-family: 'Open sans';
  transition: all 0.2s linear;
}

.md-accordion-item.md-accordion-item--rounded {
  border-radius: 0.25rem;
}

.md-accordion-item.md-accordion-item--secondary {
  background-color: var(--mdSecondaryColor60);
}

.md-accordion-item.md-accordion-item--add {
  background-color: transparent;
  border: 1px dashed var(--mdGreyColor80);
  transition: all 0.2s linear;
}
.md-accordion-item--expanded.md-accordion-item--add {
  background-color: var(--mdPrimaryColor20);
  border: 1px solid var(--mdPrimaryColor20);
}

.md-accordion-item:not(.md-accordion-item--expanded, .md-accordion-item--disabled):hover {
  transition: all 0.2s linear;
  background-color: var(--mdPrimaryColor20);
}

.md-accordion-item.md-accordion-item--secondary:not(.md-accordion-item--expanded, .md-accordion-item--disabled):hover {
  transition: all 0.2s linear;
  background-color: var(--mdSecondaryColor);
}

.md-accordion-item.md-accordion-item--add:not(.md-accordion-item--expanded):hover {
  transition: all 0.2s linear;
  background-color: transparent;
}

/* Header */
.md-accordion-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  border: 0;
  width: 100%;
  margin: 0;
  padding: 1.5em 1.8em;
  cursor: pointer;
  text-align: left;
  line-height: 1.5rem;
}

.md-accordion-item__header:focus-visible {
  outline: 2px solid var(--mdPrimaryColor80);
  outline-offset: -8px;
}

.md-accordion-item__header-left {
  display: flex;
  align-items: center;
}

.md-accordion-item__header .md-accordion-item__header-icon {
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
  min-width: 0.75rem;
}
.md-accordion-item__header .md-accordion-item__header-icon:before,
.md-accordion-item__header .md-accordion-item__header-icon:after {
  content: '';
  position: absolute;
  background-color: var(--mdGreyColor);
  transition: transform 0.15s ease-out;
}

/* Vertical line */
.md-accordion-item__header .md-accordion-item__header-icon:before {
  top: 0;
  left: 50%;
  width: 0.125rem;
  height: 100%;
  margin-left: -1px;
}

/* Horizontal line */
.md-accordion-item__header .md-accordion-item__header-icon:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 0.125rem;
  margin-top: -1px;
}
.md-accordion-item__header--expanded .md-accordion-item__header-icon:before {
  transform: rotate(90deg);
}
.md-accordion-item__header--expanded .md-accordion-item__header-icon:after {
  transform: rotate(180deg);
}

.md-accordion-item__header-label {
  font-size: 1.25rem;
  margin-left: 1em;
}
.md-accordion-item:not(.md-accordion-item--disabled) .md-accordion-item__header:hover .md-accordion-item__header-label {
  text-decoration: underline;
}

/* CONTENT */
.md-accordion-item__content {
  padding: 0 1.8rem;
  max-height: 0;
  overflow: hidden;
  transition: all 0.15s linear;
}
.md-accordion-item__content--expanded {
  max-height: 5000px;
  padding: 1rem 1.8rem 1.5rem 1.8rem;
  transition: all 0.15s linear;
}

.md-accordion-item__close-button {
  display: flex;
  gap: 1rem;
  padding: 0;
  background: none;
  border: 0;
  margin: 2rem 0 0 -0.2rem;
  cursor: pointer;
  font-size: 1rem;
}

.md-accordion-item__close-button:hover {
  text-decoration: underline;
}

.md-accordion-item__close-button:focus-visible {
  outline: 2px solid var(--mdPrimaryColor80);
  outline-offset: 2px;
}

.md-accordion-item__close-button__icon {
  height: 1.25rem;
  width: 1.25rem;
}

/* DISABLED */
.md-accordion-item--disabled,
.md-accordion-item--secondary.md-accordion-item--disabled {
  background-color: var(--mdGreyColor20);
}
.md-accordion-item--disabled .md-accordion-item__header {
  color: var(--mdGreyColor60);
  cursor: default;
}
.md-accordion-item--disabled .md-accordion-item__header .md-accordion-item__header-icon:before,
.md-accordion-item--disabled .md-accordion-item__header .md-accordion-item__header-icon:after {
  background-color: var(--mdGreyColor60);
}
