.md-radiogroup {
  font-family: var(--md-typography-family-body);
  font-size: var(--md-typography-size-16);
  border: none;
  padding: 0;
  margin: 0;
}

.md-radiogroup__label-wrapper {
  margin-bottom: var(--md-size-8);
}

.md-radiogroup__label {
  display: flex;
  align-items: center;
  font-weight: var(--md-typography-weight-medium);
  padding: 0;
}

.md-radiogroup__label > * + * {
  margin-left: var(--md-size-16);
}

.md-radiogroup__help-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}

.md-radiogroup__help-text--open {
  padding-top: var(--md-size-8);
  max-height: 2000px;
  transition: max-height 0.5s ease-in;
}

.md-radiogroup__options {
  display: flex;
  flex-direction: row;
  gap: var(--md-size-16);
}

.md-radiogroup__options--vertical {
  flex-direction: column;
}

.md-radiogroup-option {
  margin-right: 1.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.md-radiogroup__options--vertical .md-radiogroup-option {
  margin-bottom: var(--md-size-16);
}
.md-radiogroup__options--vertical .md-radiogroup-option:last-child {
  margin-bottom: 0.2rem;
}

.md-radiogroup__error {
  color: var(--md-color-attention-error-primary);
  font-size: var(--md-typography-size-14);
  margin-top: var(--md-size-8);
}

/* Disabled */
.md-radiogroup--disabled .md-radiogroup-option:hover {
  text-decoration: none;
  cursor: default;
}
.md-radiogroup--disabled .md-radiogroup-option__check-area {
  background-color: var(--md-color-disabled-bg);
  border-color: var(--md-color-disabled-default);
}
.md-radiogroup--disabled .md-radiogroup-option__selected-dot {
  background-color: var(--md-color-disabled-default);
}

/* Media */
@media (max-width: 768px) {
  .md-radiogroup__options {
    flex-wrap: wrap;
  }
  .md-radiogroup-option {
    margin-bottom: var(--md-size-8);
  }
  .md-radiogroup__help-text {
    width: 100%;
  }
}
