.color-container {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  h2 {
    border-bottom: 0;
    min-height: 2.625rem;
  }

  .color-container__colors {
    width: 100%;

    > div {
      width: 100%;
    }

    .color-box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      gap: 0.5rem;
      padding: 1rem;

      @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: center;
      }

      div {
        font-family: 'SofiaPro-Regular', sans-serif;
      }

      .color-box__color-code {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: flex-start;

        @media screen and (min-width: 768px) {
          align-items: flex-end;
        }
      }

      pre {
        font-size: 0.8rem;
      }
    }

    .color-box__title {
      display: flex;
      gap: 2rem;
    }

    .text-white {
      color: #fff;
    }

    .text-black {
      color: var(--mdTextColor);
    }
  }
}
