.md-inputsearch__outer-wrapper {
  font-family: var(--md-typography-family-body);
  font-size: var(--md-typography-size-16);
}

.md-inputsearch {
  padding: 0.6875rem var(--md-size-32) 0.6875rem var(--md-size-16);
  max-width: 100%;
  width: 100%;
  background-color: var(--md-color-background-primary);
  border-radius: var(--md-size-4);
  border: var(--md-size-1) solid var(--md-color-border-primary);
  margin: var(--md-size-1);
  color: var(--md-color-text-primary);
  font-size: var(--md-typography-size-16);
  line-height: var(--md-typography-line-height-medium);
  box-sizing: border-box;
}

.md-inputsearch.md-inputsearch--button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.md-inputsearch--small {
  padding: 0.4375rem var(--md-size-32) 0.4375rem var(--md-size-16);
}

.md-inputsearch--large {
  padding: 0.9375rem var(--md-size-32) 0.9375rem var(--md-size-16);
}

.md-inputsearch:not(.md-inputsearch.md-inputsearch--readonly):not(.md-inputsearch.md-inputsearch--disabled):active,
.md-inputsearch:not(.md-inputsearch.md-inputsearch--readonly):not(.md-inputsearch.md-inputsearch--disabled):focus-visible {
  outline: 2px solid var(--md-color-cta-primary-focus);
  outline-offset: -2px;
  border-color: transparent;
}

.md-inputsearch.md-inputsearch--disabled:focus-visible,
.md-inputsearch.md-inputsearch--readonly:focus-visible {
  outline: 0;
  cursor: default;
}

.md-inputsearch.md-inputsearch--disabled {
  background-color: var(--md-color-disabled-bg);
  color: var(--md-color-text-disabled);
}

.md-inputsearch.md-inputsearch--readonly:not(.md-inputsearch.md-inputsearch--disabled) {
  background-color: transparent;
  border: 0;
  border-bottom: var(--md-size-1) solid var(--md-color-border-primary);
  border-radius: 0;
}

.md-inputsearch.md-inputsearch--error {
  border-color: var(--md-color-attention-error-primary);
}

.md-inputsearch.md-inputsearch--has-suffix {
  padding-right: var(--md-size-8);
}

.md-inputsearch.md-inputsearch--has-prefix {
  padding-left: 2.8rem;
}

.md-inputsearch__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.md-inputsearch__label-wrapper {
  margin-bottom: var(--md-size-8);
}

.md-inputsearch__label {
  display: flex;
  align-items: flex-end;
}

.md-inputsearch__label label {
  font-weight: var(--md-typography-weight-medium);
}

.md-inputsearch__label > * + * {
  margin-left: var(--md-size-16);
}

.md-inputsearch__help-button {
  display: flex;
  flex-grow: 1;
}

.md-inputsearch__error {
  color: var(--md-color-attention-error-primary);
  font-size: 0.88rem;
  margin-top: var(--md-size-8);
}

.md-inputsearch__support-text {
  color: var(--md-color-text-primary);
  font-size: 0.88rem;
  margin-top: var(--md-size-8);
}

.md-inputsearch__help-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}

.md-inputsearch__help-text--open {
  padding-top: 0.5rem;
  max-height: 2000px;
  transition: max-height 0.5s ease-in;
}

.md-inputsearch__prefix {
  position: absolute;
  top: var(--md-size-16);
  left: var(--md-size-16);
  height: var(--md-size-20);
  width: var(--md-size-20);
  display: flex;
  color: var(--md-color-cta-primary-default);
}

.md-inputsearch__prefix.md-inputsearch__prefix--disabled {
  color: var(--md-color-text-disabled);
}

.md-inputsearch__wrapper.md-inputsearch__wrapper--small .md-inputsearch__prefix {
  top: 0.7rem;
}
.md-inputsearch__wrapper.md-inputsearch__wrapper--large .md-inputsearch__prefix {
  top: 1.2rem;
}

.md-inputsearch__suffix {
  position: absolute;
  top: 0.9rem;
  right: var(--md-size-16);
  display: flex;
  color: var(--md-color-text-disabled);
}

.md-inputsearch__suffix > * + * {
  margin-left: var(--md-size-8);
}

.md-inputsearch__error-icon {
  width: var(--md-size-20);
  height: var(--md-size-20);
  margin-left: var(--md-size-8);
  color: var(--md-color-attention-error-primary);
}

.md-inputsearch__wrapper.md-inputsearch__wrapper--small .md-inputsearch__suffix {
  top: 0.6rem;
}
.md-inputsearch__wrapper.md-inputsearch__wrapper--large .md-inputsearch__suffix {
  top: 1.1rem;
}

.md-inputsearch__wrapper.md-inputsearch__wrapper--small .md-inputsearch__suffix > * + * {
  margin-left: 0.3rem;
}

.md-inputsearch::placeholder {
  color: var(--md-color-text-disabled);
  font-family: var(--md-typography-family-body);
}

/* Hacks for hiding arrows if type=number */
.md-inputsearch.md-inputsearch--hide-number-arrows[type='number'],
.md-inputsearch.md-inputsearch--hide-number-arrows::-webkit-outer-spin-button,
.md-inputsearch.md-inputsearch--hide-number-arrows::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: var(--md-size-1);
  -moz-appearance: textfield;
}

/*  */
.md-inputsearch__wrapper .md-icon-button {
  border-radius: 0;
  border-top-right-radius: var(--md-size-4);
  border-bottom-right-radius: var(--md-size-4);
  margin-left: calc(var(--md-size-1) * -1);
  margin-top: var(--md-size-1);
  margin-bottom: var(--md-size-1);
  height: auto;
  padding: 0 var(--md-size-32);
}
