.md-button {
  align-items: center;
  background-color: var(--mdPrimaryColor);
  color: #ffffff;
  display: flex;
  font-weight: 400;
  font-family: 'Open sans';
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  width: fit-content;
  border: none;
}

.md-button--column {
  flex-direction: column;
  gap: 0.5rem;
}

.md-button__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.md-button--small {
  padding: 0.4rem 0.8rem;
  border-radius: 0.43rem;
}

.md-button__topIcon {
  height: 1rem;
  width: 1rem;
  flex-shrink: 0;
}

.md-button__leftIcon {
  height: 1rem;
  width: 1rem;
  flex-shrink: 0;
  margin-right: 1rem;
}

.md-button--small > .md-button__leftIcon {
  margin-right: 0.5rem;
}

.md-button__rightIcon {
  height: 1rem;
  width: 1rem;
  flex-shrink: 0;
  margin-left: 1rem;
}

.md-button--small > .md-button__rightIcon {
  margin-left: 0.5rem;
}

.md-button:focus {
  background-color: var(--mdPrimaryColor80);
  outline: 2px white solid;
  outline-offset: -4px;
}

.md-button:hover {
  cursor: pointer;
  background-color: var(--mdPrimaryColor120);
  border-color: var(--mdPrimaryColor120);
}

.md-button[disabled],
.md-button:disabled {
  background-color: var(--mdGreyColor20);
  color: var(--mdGreyColor60);
  cursor: not-allowed;
}

.md-button--secondary {
  background-color: #ffffff;
  border: 2px solid var(--mdPrimaryColor);
  color: var(--mdPrimaryColor);
  padding: calc(0.75rem - 2px) calc(1.5rem - 2px);
}

.md-button--small.md-button--secondary {
  padding: 0.5rem 0.75rem;
}

.md-button--secondary:hover:enabled {
  background-color: var(--mdPrimaryColor20);
}

.md-button--secondary:focus:enabled {
  background-color: #ffffff;
  border-color: var(--mdPrimaryColor80);
  color: var(--mdPrimaryColor80);
  outline: 2px var(--mdPrimaryColor80) solid;
  outline-offset: -6px;
}

.md-button--secondary:disabled {
  background-color: #fff;
  color: var(--mdGreyColor20);
  border-color: var(--mdGreyColor20);
}

.md-button--secondary > .md-button__rightIcon {
  color: var(--mdPrimaryColor);
}

.md-button--secondary:disabled > .md-button__rightIcon {
  color: var(--mdGreyColor20);
}

.md-button--tertiary {
  background-color: transparent;
  border: none;
  border-radius: 0.43rem;
  color: var(--mdPrimaryColor);
  padding: 0.75rem 1.5rem;
}

.md-button--small.md-button--tertiary {
  padding: 0.5rem 0.75rem;
}

.md-button--tertiary:hover:enabled {
  text-decoration: underline;
  background-color: var(--mdPrimaryColor20);
}

.md-button--tertiary:focus:enabled {
  border-color: var(--mdPrimaryColor);
  outline: 2px var(--mdPrimaryColor80) solid;
  background-color: transparent;
  outline-offset: 0px;
}

.md-button--tertiary:focus:hover:enabled {
  background-color: var(--mdPrimaryColor20);
}

.md-button--tertiary:disabled {
  background-color: transparent;
  color: var(--mdGreyColor20);
  border-color: var(--mdGreyColor20);
}

.md-button--tertiary > .md-button__rightIcon {
  color: var(--mdPrimaryColor);
}

.md-button--tertiary:disabled > .md-button__rightIcon {
  color: var(--mdGreyColor20);
}

.md-button--danger {
  background-color: var(--mdErrorColor);
}

.md-button--danger:focus:enabled {
  background-color: var(--mdErrorColor);
  outline: 2px white solid;
  outline-offset: -4px;
}

.md-button--danger:hover:enabled {
  background-color: var(--mdErrorColor120);
}
