.md-button {
  align-items: center;
  background-color: var(--mdPrimaryColor);
  border: 2px solid var(--mdPrimaryColor);
  color: #ffffff;
  display: flex;
  font-weight: 400;
  font-family: 'Open sans';
  font-size: 1rem;
  outline: 2px solid var(--mdPrimaryColor);
  padding: .65rem 1.5rem;
  width: fit-content;
}

.md-button--small {
  padding: .4rem .8rem;
  border-radius: .43rem;
}

.md-button__leftIcon {
  height: 16px;
  width: 16px;
  position: relative;
  right: 8px;
  top: 0;
}

.md-button__rightIcon {
  height: 16px;
  width: 16px;
  position: relative;
  left: 8px;
  top: 0;
}

.md-button:focus {
  background-color: var(--mdPrimaryColor80);
  border-color: var(--mdPrimaryColor80);
  outline: 2px solid var(--mdPrimaryColor80);
  outline-offset: 2px;
}

.md-button:hover {
  cursor: pointer;
  background-color: var(--mdPrimaryColor120);
  border-color: var(--mdPrimaryColor120);
  outline: 2px solid var(--mdPrimaryColor120);
}

.md-button[disabled],
.md-button:disabled {
  background-color: var(--mdGreyColor20);
  border: 2px solid var(--mdGreyColor20);
  color: var(--mdGreyColor60);
  cursor: not-allowed;
  outline: 2px solid var(--mdGreyColor20);
}

.md-button--secondary {
  background-color: #ffffff;
  border: 2px solid var(--mdPrimaryColor20);
  color: var(--mdPrimaryColor);
}

.md-button--secondary:hover:enabled {
  background-color: #ccdfde;
}

.md-button--secondary:focus:enabled {
  /* background-color: #ccdfde; */
  background-color: #ffffff;
  outline: 2px solid var(--mdPrimaryColor80);
  border-color: var(--mdPrimaryColor80);
}

.md-button--secondary:disabled {
  background-color: #fff;
  border: 2px solid var(--mdGreyColor20);
  color: var(--mdGreyColor20);
}

.md-button--secondary > .md-button__rightIcon {
  color: var(--mdPrimaryColor);
}

.md-button--danger {
  border: 2px solid var(--mdErrorColor);
  background-color: var(--mdErrorColor);
  outline: 2px solid var(--mdErrorColor);
}

.md-button--danger:focus:enabled {
  background-color: var(--mdErrorColor);
  border-color: var(--mdErrorColor);
  outline: 2px solid var(--mdErrorColor);
}

.md-button--danger:hover:enabled {
  background-color: var(--mdErrorColor120);
  border-color: var(--mdErrorColor120);
  outline: 2px solid var(--mdErrorColor120);
}
