.md-button {
  align-items: center;
  background-color: var(--md-color-cta-primary-default);
  color: var(--md-color-cta-secondary-default);
  display: flex;
  font-weight: var(--md-typography-weight-regular);
  font-family: var(--md-typography-family-body);
  font-size: var(--md-typography-size-16);
  padding: var(--md-typography-size-12) var(--md-typography-size-16);
  width: fit-content;
  border-radius: var(--md-radius-md);
  border: none;
  transition: all 200ms ease-in-out;
  line-height: 1.5;
}

.md-button--column {
  flex-direction: column;
  gap: var(--md-size-8);
}

.md-button__content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.md-button--small {
  padding: var(--md-size-8) var(--md-size-12);
}

.md-button--large {
  padding: var(--md-size-16) var(--md-size-20);
}

.md-button__topIcon {
  height: var(--md-size-20);
  width: var(--md-size-20);
  flex-shrink: 0;
}
.md-button__topIcon .md-loading-spinner {
  width: var(--md-size-16);
  height: var(--md-size-16);
}

.md-button__leftIcon {
  height: var(--md-size-20);
  align-content: center;
  width: var(--md-size-20);
  flex-shrink: 0;
  margin-right: var(--md-size-8);
}

.md-button--small > .md-button__leftIcon {
  margin-right: var(--md-size-8);
}

.md-button__rightIcon {
  height: var(--md-size-20);
  width: var(--md-size-20);
  align-content: center;
  flex-shrink: 0;
  margin-left: var(--md-size-8);
}
.md-button__rightIcon .md-loading-spinner {
  width: var(--md-size-16);
  height: var(--md-size-16);
}

.md-button--small > .md-button__rightIcon {
  margin-left: var(--md-size-8);
}

.md-button:focus-visible {
  background-color: var(--md-color-cta-primary-focus);
  outline: var(--md-size-2) white solid;
  outline-offset: -4px;
}

.md-button:hover {
  cursor: pointer;
  background-color: var(--md-color-cta-primary-hover);
  border-color: var(--md-color-cta-primary-hover);
}

.md-button:active:not(:disabled):not([disabled]) {
  background-color: var(--md-color-cta-primary-active);
}

.md-button[disabled],
.md-button:disabled {
  background-color: var(--md-color-disabled-bg);
  color: var(--md-color-text-disabled);
  cursor: not-allowed;
}
.md-button:not(.md-button--secondary, .md-button--tertiary)[disabled] .md-loading-spinner,
.md-button:not(.md-button--secondary, .md-button--tertiary):disabled .md-loading-spinner {
  filter: invert(0.3);
}

.md-button--secondary {
  background-color: var(--md-color-cta-secondary-default);
  border: var(--md-size-2) solid var(--md-color-cta-primary-default);
  color: var(--md-color-cta-primary-default);
  padding: calc(var(--md-size-12) - 2px) calc(var(--md-size-16) - 2px);
}

.md-button--small.md-button--secondary {
  padding: calc(var(--md-size-8) - 2px) calc(var(--md-size-12) - 2px);
}

.md-button--large.md-button--secondary {
  padding: calc(var(--md-size-16) - 2px) calc(var(--md-size-20) - 2px);
}

.md-button--secondary:hover:not(:disabled):not([disabled]) {
  background-color: var(--md-color-cta-secondary-hover);
}

.md-button--secondary:focus-visible:not(:disabled):not([disabled]) {
  background-color: var(--md-color-cta-secondary-default);
  border-color: var(--md-color-cta-primary-focus);
  color: var(--md-color-cta-primary-focus);
  outline: var(--md-size-2) var(--md-color-cta-primary-focus) solid;
  outline-offset: -6px;
}

.md-button--secondary:active:not(:disabled):not([disabled]) {
  background-color: var(--md-color-cta-secondary-active);
  color: var(--md-color-cta-primary-hover);
  border-color: var(--md-color-cta-primary-hover);
}

.md-button--secondary:disabled {
  background-color: var(--md-color-cta-secondary-default);
  color: var(--md-color-text-disabled);
  border-color: var(--md-color-disabled-bg);
}

.md-button--secondary > .md-button__rightIcon {
  color: var(--md-color-text-secondary);
}

.md-button--secondary:disabled > .md-button__rightIcon {
  color: var(--md-color-text-disabled);
}

.md-button--tertiary {
  background-color: transparent;
  border: none;
  color: var(--md-color-text-secondary);
  padding: var(--md-size-12) var(--md-size-16);
}

.md-button--small.md-button--tertiary {
  padding: var(--md-size-8) var(--md-size-12);
}

.md-button--large.md-button--tertiary {
  padding: var(--md-size-16) var(--md-size-20);
}

.md-button--tertiary:hover:not(:disabled):not([disabled]) {
  text-decoration: underline;
  background-color: var(--md-color-cta-secondary-hover);
}

.md-button--tertiary:focus-visible:not(:disabled):not([disabled]) {
  border-color: var(--md-color-cta-primary-focus);
  outline: var(--md-size-2) var(--md-color-cta-primary-focus) solid;
  background-color: transparent;
  outline-offset: 0px;
}

.md-button--tertiary:focus-visible:hover:not(:disabled):not([disabled]) {
  background-color: var(--md-color-cta-secondary-hover);
}

.md-button--tertiary:active:not(:disabled):not([disabled]) {
  background-color: var(--md-color-cta-secondary-active) !important;
  color: var(--md-color-text-visited) !important;
}

.md-button--tertiary:disabled {
  background-color: transparent;
  color: var(--md-color-text-disabled);
  border-color: transparent;
}

.md-button--tertiary > .md-button__rightIcon {
  color: var(--md-color-cta-primary-default);
}

.md-button--tertiary:disabled > .md-button__rightIcon {
  color: var(--md-color-disabled-default);
}

.md-button--danger {
  background-color: var(--md-color-attention-error-primary);
}

.md-button--danger:focus-visible:not(:disabled):not([disabled]) {
  background-color: var(--md-color-attention-error-primary);
  outline: var(--md-size-2) var(--md-color-text-inverted) solid;
  outline-offset: -4px;
}

.md-button--danger:hover:not(:disabled):not([disabled]) {
  background-color: var(--md-color-attention-error-primary-hover);
}

.md-button--danger:active:not(:disabled):not([disabled]) {
  background-color: var(--md-color-attention-error-primary-active);
}

/* Danger secondary */
.md-button--danger-secondary {
  background-color: var(--md-color-attention-error-secondary);
  border: var(--md-size-2) solid var(--md-color-attention-error-primary);
  color: var(--md-color-attention-error-primary);
  padding: calc(var(--md-size-12) - 2px) calc(var(--md-size-16) - 2px);
}

.md-button--small.md-button--danger-secondary {
  padding: calc(var(--md-size-8) - 2px) calc(var(--md-size-12) - 2px);
}

.md-button--large.md-button--danger-secondary {
  padding: calc(var(--md-size-16) - 2px) calc(var(--md-size-20) - 2px);
}

.md-button--danger-secondary:hover:not(:disabled):not([disabled]) {
  background-color: var(--md-color-attention-error-secondary-hover);
  border-color: var(--md-color-attention-error-primary);
}

.md-button--danger-secondary:focus-visible:not(:disabled):not([disabled]) {
  background-color: var(--md-color-attention-error-secondary);
  border-color: var(--md-color-attention-error-primary);
  color: var(--md-color-attention-error-primary);
  outline: var(--md-size-2) var(--md-color-attention-error-primary) solid;
  outline-offset: -6px;
}

.md-button--danger-secondary:active:not(:disabled):not([disabled]) {
  background-color: var(--md-color-attention-error-secondary-active);
  color: var(--md-color-attention-error-primary-hover);
  border-color: var(--md-color-attention-error-primary-hover);
}

.md-button--danger-secondary:disabled {
  background-color: var(--md-color-attention-error-secondary);
  color: var(--md-color-attention-info-primary-hover);
  border-color: var(--md-color-attention-error-primary-hover);
}

.md-button--danger-secondary > .md-button__rightIcon {
  color: var(--md-color-attention-error-primary);
}

.md-button--danger-secondary:disabled > .md-button__rightIcon {
  color: var(--md-color-text-disabled);
}

/* Danger tertiary */
.md-button--danger-tertiary {
  background-color: transparent;
  border: none;
  color: var(--md-color-attention-error-primary);
  padding: var(--md-size-12) var(--md-size-16);
}

.md-button--small.md-button--danger-tertiary {
  padding: var(--md-size-8) var(--md-size-12);
}

.md-button--large.md-button--danger-tertiary {
  padding: var(--md-size-16) var(--md-size-20);
}

.md-button--danger-tertiary:hover:not(:disabled):not([disabled]) {
  text-decoration: underline;
  background-color: var(--md-color-attention-error-secondary-hover);
}

.md-button--danger-tertiary:focus-visible:not(:disabled):not([disabled]) {
  border-color: var(--md-color-attention-error-tertiary);
  outline: var(--md-size-2) var(--md-color-attention-error-primary) solid;
  background-color: transparent;
  outline-offset: 0px;
}

.md-button--danger-tertiary:focus-visible:hover:not(:disabled):not([disabled]) {
  background-color: var(--md-color-cta-secondary-hover);
}

.md-button--danger-tertiary:active:not(:disabled):not([disabled]) {
  background-color: var(--md-color-attention-error-tertiary-active) !important;
  color: var(--md-color-attention-error-primary-hover) !important;
}

.md-button--danger-tertiary:disabled {
  background-color: transparent;
  color: var(--md-color-attention-info-primary-hover);
  border-color: transparent;
}

.md-button--danger-tertiary > .md-button__rightIcon {
  color: var(--md-color-attention-error-primary);
}

.md-button--danger-tertiary:disabled > .md-button__rightIcon {
  color: var(--md-color-attention-error-primary);
}
