.md-info-tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: fit-content;
  z-index: 2;
  background-color: var(--color-cta-secondary-hover);
  color: var(--color-text-primary);
  padding: var(--spacing-4) var(--spacing-12) var(--spacing-4) var(--spacing-12);
  border-radius: var(--radius-sm);
  font-family: var(--font-family-open-sans);
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
}

.md-info-tag--button:hover {
  outline: 2px solid var(--color-cta-primary-default);
  outline-offset: -2px;
  text-decoration: underline;
  cursor: pointer;
}

.md-info-tag--secondary {
  background-color: var(--color-surface-info-secondary);
}
.md-info-tag--warning {
  background-color: var(--color-attention-warning-bg);
}
.md-info-tag--warning.md-info-tag--button:hover {
  outline: 2px solid var(--color-attention-warning-primary);
  outline-offset: -2px;
}

.md-info-tag--danger {
  background-color: var(--color-attention-error-primary);
  color: var(--color-text-invert);
}
.md-info-tag--success {
  background-color: var(--color-tertiary-blue-light);
}

.md-info-tag--outline {
  outline: 1px solid var(--color-text-disabled);
  outline-offset: -1px;
}

.md-info-tag__label {
  display: flex;
  max-width: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.125rem;
}
.md-info-tag:hover .md-info-tag__label {
  max-width: 100%;
  padding-right: 1rem;
  transition: max-width 0.3s ease-in;
  white-space: nowrap;
}

.md-info-tag__label--show {
  max-width: 100%;
  padding-right: 1rem;
  transition: max-width 0.3s ease-in;
  white-space: nowrap;
}

.md-info-tag__icon {
  height: var(--spacing-20);
  width: var(--spacing-20);
}
