/*
* TODO: IMPLEMENT NEW TOKENS
* When new alert-colors are defined, update the following styles accordingly.
*/

.md-info-tag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: fit-content;
  z-index: 2;
  background-color: var(--md-color-surface-info-primary);
  color: var(--mdGreyColor);
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  border-radius: var(--md-size-1);
  font-family: var(--md-typography-family-body);
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
}

.md-info-tag--button:hover {
  outline: var(--md-size-2) solid var(--md-color-border-tertiary);
  outline-offset: -2px;
  text-decoration: underline;
  cursor: pointer;
}

.md-info-tag--secondary {
  background-color: var(--md-color-surface-info-secondary);
}
.md-info-tag--warning {
  background-color: transparent;
}
.md-info-tag--warning.md-info-tag--button:hover {
  outline: var(--md-size-2) solid var(--md-color-attention-warning-primary);
  outline-offset: -2px;
}

.md-info-tag--danger {
  background-color: var(--md-color-attention-error-primary);
  color: #fff;
}
.md-info-tag--success {
  background-color: var(--md-color-primary-60);
}

.md-info-tag--outline {
  outline: 1px solid var(--md-color-disabled-dark);
  outline-offset: -1px;
}

.md-info-tag__label {
  display: flex;
  max-width: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.125rem;
}
.md-info-tag:hover .md-info-tag__label {
  max-width: 100%;
  padding-right: 1rem;
  transition: max-width 0.3s ease-in;
  white-space: nowrap;
}

.md-info-tag__label--show {
  max-width: 100%;
  padding-right: 1rem;
  transition: max-width 0.3s ease-in;
  white-space: nowrap;
}

.md-info-tag__icon {
  height: var(--md-size-20);
  width: var(--md-size-20);
}
