.md-skip-to-main-content {
  position: absolute;
  transform: translateY(-100%);
  display: flex;
  opacity: 0;
  height: var(--md-size-1);
  width: var(--md-size-1);
  background-color: var(--md-color-cta-primary-default);
  padding: 0;
  font-family: var(--md-typography-family-body);
  overflow: hidden;
  white-space: nowrap;
}

.md-skip-to-main-content:focus-visible {
  position: relative;
  transform: translateY(0%);
  height: auto;
  overflow: visible;
  width: 100%;
  opacity: 1;
  text-decoration: underline;
  padding: var(--md-size-8) var(--md-size-16);
  line-height: var(--md-typography-line-height-medium);
  font-size: var(--md-typography-size-18);
  color: var(--md-color-text-inverted);
  justify-content: center;
  white-space: initial;
  outline: 0;
}
