.md-stepper__stepper-container {
  padding-top: var(--md-size-40);
}

.md-stepper__stepper-container .md-stepper__stepper-list {
  display: flex;
  flex-direction: column;
  gap: var(--md-size-32);
}

.md-stepper__stepper-container .md-stepper__stepper-list .md-stepper__stepper-list-item .md-stepper__step-title {
  display: flex;
  flex-direction: row;
  gap: var(--md-size-16);
}
.md-stepper__stepper-container .md-stepper__stepper-list .md-stepper__stepper-list-item .md-stepper__step-title h4 {
  font-family: var(--md-typography-family-heading) !important;
  font-size: var(--md-typography-size-20);
  font-weight: var(--md-typography-weight-regular);
  line-height: var(--md-typography-line-height-small);
  letter-spacing: 0rem;
  text-align: left;
  margin: 0;

  height: var(--md-size-40);

  display: flex;
  align-items: center;
}
.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-title
  h4.md-stepper__disabled {
  color: var(--md-color-text-disabled);
}

.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-title
  h4.md-stepper__completed {
  color: var(--md-color-disabled-dark);
}

.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-title
  .md-stepper__step-title-badge-outer-border {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-title
  .md-stepper__step-title-badge-outer-border.selected {
  border-radius: var(--md-radius-half);
  border: var(--md-size-1) solid var(--md-color-cta-primary-focus);
  background-color: var(--md-color-surface-info-primary);
}

.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-title
  .md-stepper__step-title-badge {
  border-radius: var(--md-radius-half);
  font-family: var(--md-typography-family-body);
  font-size: var(--md-typography-size-16);
  font-weight: var(--md-typography-weight-medium);
  line-height: var(--md-typography-line-height-medium);
  letter-spacing: 0em;
  text-align: left;
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-title
  .md-stepper__step-title-badge.completed {
  background-color: var(--md-color-cta-primary-focus);
  color: var(--md-color-text-inverted);
}

.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-title
  .md-stepper__step-title-badge.selected {
  background-color: var(--md-color-cta-primary-default);
  color: var(--md-color-text-inverted);
}

.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-title
  .md-stepper__step-title-badge.disabled {
  background-color: var(--md-color-disabled-bg);
  color: var(--md-color-text-disabled);
}

.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-content-container {
  display: flex;
  flex-direction: row;
}

.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-content-container
  .md-stepper__step-content-sideline {
  width: var(--md-size-2);
  height: auto;
  background-color: var(--md-color-cta-primary-default);
  margin-left: 1.0625rem;
  margin-right: 1.0625rem;
  margin-top: var(--md-size-8);
}

.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-content-container
  .md-stepper__step-content-sideline.disabled {
  background-color: var(--md-color-disabled-bg);
}

.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-content-container
  .md-stepper__step-content-children {
  padding-left: var(--md-size-16);
  padding-top: var(--md-size-16);
  min-height: var(--md-size-24);
}
.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-content-container
  .md-stepper__step-content-children.completed {
  color: var(--md-color-disabled-dark);
}
