.md-stepper__stepper-container {
  padding-top: var(--md-spacing-40);
}

.md-stepper__stepper-container .md-stepper__stepper-list {
  display: flex;
  flex-direction: column;
  gap: var(--md-spacing-32);
}

.md-stepper__stepper-container .md-stepper__stepper-list .md-stepper__stepper-list-item .md-stepper__step-title {
  display: flex;
  flex-direction: row;
  gap: var(--md-spacing-16);
}
.md-stepper__stepper-container .md-stepper__stepper-list .md-stepper__stepper-list-item .md-stepper__step-title h4 {
  font-family: var(--md-font-family-sofia-pro) !important;
  font-size: var(--md-typography-heading-s-font-size);
  font-weight: 400;
  line-height: var(--md-typography-heading-s-line-height);
  letter-spacing: 0rem;
  text-align: left;
  margin: 0;

  height: var(--md-spacing-40);

  display: flex;
  align-items: center;
}
.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-title
  h4.md-stepper__disabled {
  color: var(--md-color-text-disabled);
}

.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-title
  h4.md-stepper__completed {
  color: var(--md-color-text-secondary);
}

.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-title
  .md-stepper__step-title-badge-outer-border {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-title
  .md-stepper__step-title-badge-outer-border.selected {
  border-radius: 50%;
  border: 1px solid var(--mdPrimaryColor80);
  background-color: var(--mdPrimaryColor20);
}

.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-title
  .md-stepper__step-title-badge {
  border-radius: 50%;
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.375rem;
  letter-spacing: 0em;
  text-align: left;
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-title
  .md-stepper__step-title-badge.completed {
  background-color: var(--mdPrimaryColor80);
  color: white;
}

.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-title
  .md-stepper__step-title-badge.selected {
  background-color: var(--mdPrimaryColor);
  color: white;
}

.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-title
  .md-stepper__step-title-badge.disabled {
  background-color: var(--md-color-disabled-bg);
  color: var(--md-color-text-disabled);
}

.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-content-container {
  display: flex;
  flex-direction: row;
}

.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-content-container
  .md-stepper__step-content-sideline {
  width: 0.125rem;
  height: auto;
  background-color: var(--md-color-cta-primary-default);
  margin-left: 1.0625rem;
  margin-right: 1.0625rem;
  margin-top: 0.5rem;
}

.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-content-container
  .md-stepper__step-content-sideline.disabled {
  background-color: var(--md-color-disabled-bg);
}

.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-content-container
  .md-stepper__step-content-children {
  padding-left: 1rem;
  padding-top: 1rem;
  min-height: 1.5rem;
}
.md-stepper__stepper-container
  .md-stepper__stepper-list
  .md-stepper__stepper-list-item
  .md-stepper__step-content-container
  .md-stepper__step-content-children.completed {
  color: var(--md-color-text-secondary);
}
