.md-select {
  font-family: 'Open sans';
  width: 100%;
}

/* Label */
.md-select__label-wrapper {
  margin-bottom: 0.5rem;
}

.md-select__label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.md-select__label label {
  font-weight: 600;
}

.md-select__button-wrapper:focus-visible {
  outline: 0;
}
.md-select__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
  line-height: 150%;
  border: 1px solid var(--mdPrimaryColor);
  padding: 0.75rem 1rem;
  background-color: #fff;
  position: relative;
}
.md-select__button:focus-visible {
  outline: 0;
}
.md-select--large .md-select__button {
  padding: 1rem;
}
.md-select--small .md-select__button {
  padding: 0.5rem 1rem;
}
.md-select__button[data-focus-visible],
.md-select__button[aria-expanded='true'] {
  outline: 2px solid var(--mdPrimaryColor);
  outline-offset: -2px;
}
.md-select__button:disabled {
  background-color: var(--mdGreyColor20);
  border-color: var(--mdGreyColor60);
}
.md-select__button .md-select__button-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  pointer-events: auto;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  line-height: 150%;

  &:focus-visible {
    outline: 2px solid var(--mdPrimaryColor);
    outline-offset: -2px;
  }
}
.md-select__button[aria-expanded='false'] .md-select__button-icon svg {
  rotate: 0deg;
  transition: rotate 0.2s ease-in;
}
.md-select__button[aria-expanded='true'] .md-select__button-icon svg {
  rotate: 180deg;
  transition: rotate 0.2s ease-in;
}
.md-select__button-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.md-select__reset {
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  margin-right: 0.3rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  line-height: 150%;

  &:focus-visible {
    outline: 2px solid var(--mdPrimaryColor);
    outline-offset: -2px;
  }
}

/* popover */
.md-select__popover {
  background-color: #fff;
  max-height: min(var(--popover-available-height, 300px), 300px);
  overflow: auto;
  overscroll-behavior: contain;
  border: 2px solid var(--mdPrimaryColor);
  border-top: 0;
  opacity: 0;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-5%);
  z-index: 3;
}
.md-select__popover[data-enter] {
  opacity: 1;
  transform: translateY(0%);
  outline: 0;
}

/* Select item */
.md-select__item {
  padding: 0.75rem;
  cursor: pointer;
}
.md-select__item--no-result {
  font-style: italic;
}
.md-select--large .md-select__item {
  padding: 1rem 0.75rem;
}
.md-select--small .md-select__item {
  padding: 0.5rem 0.75rem;
}
.md-select__item[aria-selected='true'] {
  background-color: var(--mdPrimaryColor20);
}
.md-select__item[data-focus-visible],
.md-select__item[data-active-item] {
  background-color: var(--mdPrimaryColor40);

  .md-checkbox__label::before {
    background-color: #fff;
  }
}

/* Help text */
.md-select__help-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}
.md-select__help-text--open {
  padding-top: 0.5rem;
  max-height: 2000px;
  transition: max-height 0.5s ease-in;
}

/* Error */
.md-select__error {
  margin-top: 0.5rem;
  color: var(--mdErrorColor);
  font-size: 0.88em;
}
.md-select--has-error .md-select__button,
.md-select--has-error .md-select__popover {
  outline-color: var(--mdErrorColor);
  border-color: var(--mdErrorColor);
}
