.md-select {
  font-family: var(--md-typography-family-body);
  width: 100%;
}

/* Label */
.md-select__label-wrapper {
  margin-bottom: var(--md-size-8);
}

.md-select__label {
  display: flex;
  align-items: center;
  gap: var(--md-size-8);
  font-weight: var(--md-typography-weight-medium);
}

.md-select__button-wrapper:focus-visible {
  outline: 0;
}
.md-select__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: var(--md-typography-size-16);
  line-height: var(--md-typography-line-height-medium);
  border: 1px solid var(--md-color-border-primary);
  border-radius: var(--md-radius-sm);
  padding: 0.6875rem var(--md-size-16);
  background-color: var(--md-color-background-primary);
  position: relative;
  outline-width: 0;
  outline-style: solid;
  outline-offset: -2px;
  outline-color: var(--md-color-border-tertiary);
  transition: outline-width 0.1s ease-in;
}
.md-select--large .md-select__button {
  padding: 0.9375rem var(--md-size-16);
}
.md-select--small .md-select__button {
  padding: 0.4375rem var(--md-size-16);
}
.md-select__button[data-focus-visible],
.md-select__button[aria-expanded='true'] {
  outline-width: var(--md-size-2);
  transition: outline-width 0.1s ease-in;
  border-radius: var(--md-radius-sm) var(--md-radius-sm) 0 0;
}
.md-select__button[aria-disabled='true'] {
  background-color: var(--md-color-disabled-bg);
  border-color: var(--md-color-disabled-default);
}
.md-select__button .md-select__button-icon {
  width: var(--md-size-24);
  height: var(--md-size-24);
  cursor: pointer;
  pointer-events: auto;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  line-height: var(--md-typography-line-height-medium);

  &:focus-visible {
    outline: var(--md-size-2) solid var(--md-color-border-primary);
    outline-offset: -2px;
  }
}
.md-select__button[aria-expanded='false'] .md-select__button-icon svg {
  rotate: 0deg;
  transition: rotate 0.2s ease-in;
}
.md-select__button[aria-expanded='true'] .md-select__button-icon svg {
  rotate: 180deg;
  transition: rotate 0.2s ease-in;
}
.md-select__button-right {
  display: flex;
  align-items: center;
  gap: var(--md-size-8);
}
.md-select__reset {
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  border-radius: 0;
  margin-right: 0.3rem;
  width: var(--md-size-24);
  height: var(--md-size-24);
  cursor: pointer;
  line-height: var(--md-typography-line-height-medium);

  &:focus-visible {
    outline: var(--md-size-2) solid var(--md-color-border-primary);
    outline-offset: -2px;
  }
}

/* popover */
.md-select__popover {
  background-color: var(--md-color-background-primary);
  max-height: min(var(--popover-available-height, 300px), 300px);
  overflow: auto;
  overscroll-behavior: contain;
  border: var(--md-size-2) solid var(--md-color-border-tertiary);
  border-radius: 0 0 var(--md-radius-sm) var(--md-radius-sm);
  border-top: 0;
  opacity: 0;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-5%);
  z-index: 3;
}
.md-select__popover[data-enter] {
  opacity: 1;
  transform: translateY(0%);
  outline: 0;
}

/* Select item */
.md-select__item {
  padding: var(--md-size-12);
  cursor: pointer;
}
.md-select__item--no-result {
  font-style: italic;
}
.md-select--large .md-select__item {
  padding: var(--md-size-16) var(--md-size-12);
}
.md-select--small .md-select__item {
  padding: var(--md-size-8) var(--md-size-12);
}
.md-select__item[aria-selected='true'] {
  background-color: var(--md-color-cta-secondary-hover);
}
.md-select__item[data-focus-visible],
.md-select__item[data-active-item] {
  background-color: var(--md-color-cta-secondary-active);

  .md-checkbox__label::before {
    background-color: var(--md-color-surface-primary);
  }
}

/* Help text */
.md-select__help-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}
.md-select__help-text--open {
  padding-top: var(--md-size-8);
  max-height: 2000px;
  transition: max-height 0.5s ease-in;
}

/* Error */
.md-select__error {
  margin-top: var(--md-size-8);
  color: var(--md-color-attention-error-primary);
  font-size: 0.88em;
}
.md-select--has-error .md-select__button,
.md-select--has-error .md-select__popover {
  outline-color: var(--md-color-attention-error-primary);
  border-color: var(--md-color-attention-error-primary);
}
