.md-select {
  font-family: 'Open sans';
  width: 100%;
}

.md-select--medium {
  width: 440px;
}

.md-select--small {
  width: 260px;
}

.md-select__container {
  position: relative;
}

.md-select__label {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
  padding-bottom: 0.5em;
}

.md-select__label > * + * {
  margin-left: 1em;
}

.md-select__button {
  font-family: 'Open sans';
  font-size: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 1em;
  border: 1px solid var(--mdGreyColor60);
  color: var(--mdGreyColor);
  text-align: left;
  cursor: pointer;
}

.md-select__button.md-select__button--error {
  border-color: var(--mdErrorColor);
}

.md-select__button.md-select__button--small {
  padding: 0.75em;
}

.md-select__button:not(.md-select__button--open):focus.md-select__button--small {
  padding: calc(0.75em - 1px);
}
.md-select__button.md-select__button--open.md-select__button--small {
  padding: calc(0.75em - 1px);
  padding-bottom: 0.75em;
}

.md-select--disabled .md-select__button {
  background-color: var(--mdGreyColor20);
  color: var(--mdGreyColor60);
  cursor: not-allowed;
}

.md-select__button:focus,
.md-select__button:focus-within {
  outline: none;
}

.md-select__button:not(.md-select__button--open):focus,
.md-select__button:not(.md-select__button--open):focus-within {
  padding: calc(1em - 1px);
  border: 2px solid var(--mdPrimaryColor);
}

.md-select--error.md-select__button:not(.md-select__button--open):focus,
.md-select--error.md-select__button:not(.md-select__button--open):focus-within {
  border-color: var(--mdErrorColor);
}

.md-select__button-text {
  display: flex;
  flex-grow: 1;
  padding-right: 1em;
  min-height: 1.375em;
}

.md-select__button-icon {
  display: flex;
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  rotate: 90deg;
  color: var(--mdGreyColor);
}

.md-select__help-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}

.md-select__help-text--open {
  padding-top: 0.5em;
  max-height: 2000px;
  transition: max-height 0.5s ease-in;
}

.md-select__dropdown {
  position: absolute;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-in-out;
  width: calc(100% - 4px); /* Full width minus border-width */
}

.md-select__dropdown-item {
  display: flex;
  align-items: center;
  font-family: 'Open sans';
  border: 0;
  background-color: #fff;
  width: 100%;
  text-align: left;
  padding: 0.9em;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
}

.md-select__dropdown-item:hover,
.md-select__dropdown-item:focus {
  outline: none;
  background-color: var(--mdPrimaryColor20);
  transition: background-color 0.15s ease-in-out;
}

.md-select__dropdown-item--selected {
  background-color: var(--mdPrimaryColor10);
}

.md-select__dropdown-item-text {
  display: flex;
  flex-grow: 1;
}

.md-select__dropdown-item-clear {
  display: flex;
  flex-shrink: 0;
  height: 12px;
  width: 12px;
  color: var(--mdPrimaryColor);
}

/* Open state */
.md-select--open .md-select__button {
  border-top: 2px solid var(--mdPrimaryColor);
  border-right: 2px solid var(--mdPrimaryColor);
  border-left: 2px solid var(--mdPrimaryColor);
}

.md-select__button--open {
  padding: calc(1em - 1px);
  padding-bottom: 1em;
}

.md-select--open .md-select__dropdown {
  max-height: 350px;
  overflow-y: auto;
  opacity: 1;
  transition: max-height 0.5s ease-in-out;
  border: 2px solid var(--mdPrimaryColor);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border-top: 0;
  z-index: 2;
}

/* open + error */
.md-select--open.md-select--error .md-select__button {
  border-color: var(--mdErrorColor);
}
.md-select--open.md-select--error .md-select__dropdown {
  border-color: var(--mdErrorColor);
}

/* Error text */
.md-select__error {
  color: var(--mdErrorColor);
  font-size: 0.88em;
}
