.md-textarea__outer-wrapper {
  font-family: 'Open sans';
  font-size: 1rem;
}

.md-textarea {
  padding: 1rem 2rem 1rem 1rem;
  font-family: 'Open sans';
  max-width: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 0;
  border: 1px solid var(--mdGreyColor60);
  margin: 1px;
  color: var(--mdGreyColor);
  font-size: 1rem;
  box-sizing: border-box;
}

.md-textarea:not(.md-textarea.md-textarea--readonly):not(.md-textarea.md-textarea--disabled):active,
.md-textarea:not(.md-textarea.md-textarea--readonly):not(.md-textarea.md-textarea--disabled):focus-visible {
  outline: 2px solid var(--mdPrimaryColor80);
  outline-offset: -2px;
  border-color: transparent;
}

.md-textarea.md-textarea--disabled:focus-visible,
.md-textarea.md-textarea--readonly:focus-visible {
  outline: 0;
  cursor: default;
}

.md-textarea.md-textarea--disabled {
  background-color: var(--mdGreyColor20);
}

.md-textarea.md-textarea--readonly:not(.md-textarea.md-textarea--disabled) {
  border: 0;
  background-color: transparent;
}

.md-textarea.md-textarea--error {
  border-color: var(--mdErrorColor);
}

.md-textarea__label-wrapper {
  margin-bottom: 0.5rem;
}

.md-textarea__label {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
}

.md-textarea__label > * + * {
  margin-left: 1rem;
}

.md-textarea__help-button {
  display: flex;
  flex-grow: 1;
}

.md-textarea__error {
  color: var(--mdErrorColor);
  font-size: 0.88rem;
  margin-top: 0.5rem;
}

.md-textarea__help-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}

.md-textarea__help-text--open {
  padding-top: 0.5rem;
  max-height: 2000px;
  transition: max-height 0.5s ease-in;
}

.md-textarea::placeholder {
  color: var(--mdGreyColor60);
  font-family: 'Open sans';
}
