/* HORIZONTAL TILES */
.md-tile {
  padding: 26px;
  border: 1px solid var(--mdGreyColor60);
  background-color: var(--mdPrimaryColor10);
  color: var(--mdGreyColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  font-family: 'Open sans';
  width: 440px;
  max-width: 100%;
  transition: all 0.15s ease-in-out;
}

.md-tile--secondary {
  background-color: var(--mdSecondaryColor40);
}

.md-tile:not(.md-tile--disabled):hover {
  border: 1px solid var(--mdPrimaryColor);
  background-color: var(--mdPrimaryColor20);
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.md-tile:not(.md-tile--disabled):focus {
  outline: 2px solid var(--mdPrimaryColor);
  outline-offset: -2px;
  background-color: var(--mdPrimaryColor20);
}

.md-tile--disabled {
  background-color: var(--mdGreyColor20);
  border: 1px solid var(--mdGreyColor60);
  color: var(--mdGreyColor60);
  cursor: not-allowed;
  pointer-events: none;
}

.md-tile__content {
  display: flex;
  align-items: center;
}

.md-tile__content-icon {
  height: 64px;
  width: 64px;
  margin-right: 1em;
  color: var(--mdPrimaryColor80);
}

.md-tile--disabled .md-tile__content-icon {
  color: var(--mdGreyColor60);
}

.md-tile__content-heading {
  font-size: 20px;
  align-items: flex-start;
  display: flex;
}

.md-tile__content-description {
  margin-top: 1em;
  font-size: 16px;
}

.md-tile__arrow {
  color: var(--mdGreyColor);
}

.md-tile--disabled .md-tile__arrow {
  color: var(--mdGreyColor60);
}

/* VERTICAL TILES */
.md-tile-vertical {
  display: flex;
  width: 190px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--mdGreyColor60);
  background-color: var(--mdPrimaryColor10);
  color: var(--mdGreyColor);
  text-decoration: none;
  font-family: 'Open sans';
  transition: all 0.15s ease-in-out;
}

.md-tile-vertical--secondary {
  background-color: var(--mdSecondaryColor40);
}

.md-tile-vertical--small {
  width: 178px;
}

.md-tile-vertical--large {
  width: 238px;
}

.md-tile-vertical--disabled {
  background-color: var(--mdGreyColor20);
  border: 1px solid var(--mdGreyColor60);
  color: var(--mdGreyColor60);
  cursor: not-allowed;
  pointer-events: none;
}

.md-tile-vertical:hover {
  border: 1px solid var(--mdPrimaryColor);
  background-color: var(--mdPrimaryColor20);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.md-tile-vertical:focus {
  outline: 2px solid var(--mdPrimaryColor);
  outline-offset: -2px;
  background-color: var(--mdPrimaryColor20);
}

.md-tile-vertical__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

.md-tile-vertical--small .md-tile-vertical__content {
  padding: 26px;
}

.md-tile-vertical--large .md-tile-vertical__content {
  padding: 40px;
}

.md-tile-vertical__content-text {
  text-align: center;
  word-break: break-word;
}

.md-tile-vertical__content-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  color: var(--mdPrimaryColor80);
  width: 128px;
  height: 128px;
}

.md-tile-vertical--disabled .md-tile-vertical__content-icon {
  color: var(--mdGreyColor60);
}

.md-tile-vertical__content-heading {
  font-size: 20px;
}

.md-tile-vertical__content-description {
  margin-top: 1em;
  font-size: 16px;
}
