.logo-grid {
    --cell-height: 100px;
    --col-1: 143px;
    --col-2: 20px;
    --col-3: 175px;
    --gap: 10px;
    --border: 1px;
}

.logo-grid .grid {
    display: grid;
    grid-template-columns:
    var(--col-1)
    var(--col-2)
    var(--col-3)
    minmax(200px, 1fr)
    minmax(200px, 1fr);
    grid-template-rows: repeat(5, auto);
    gap: var(--gap);
    background: #fff;
    width: 100%;
}

.logo-grid .cell {
    display: grid;
    place-items: center;
    border: var(--border) solid black;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}

.logo-grid .cell-empty {
    border: none;
}

.logo-grid .cell-noborder {
    border: none;
}

.logo-grid .cell-bracket {
    border: 3px solid black;
    border-right: none;
}

.logo-grid .cell-logo {
    text-align: left;
    place-items: start;
    padding: 8%;
}

.logo-grid .cell-green {
    background-color: #005E5D;
}


.logo-grid .merge-6-11 {
    grid-row: 2 / span 2;
    grid-column: 1;
}

.logo-grid .merge-7-12 {
    grid-row: 2 / span 2;
    grid-column: 2;
}

.logo-grid .merge-16-21 {
    grid-row: 4 / span 2;
    grid-column: 1;
}

.logo-grid .merge-17-22 {
    grid-row: 4 / span 2;
    grid-column: 2;
}

.protective-space-illustration {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap:20px;
}