.md-tabs-container {
  font-family: 'Open sans';
}

.md-tabs-container ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.5rem;
  padding-inline-start: 0px;
}

.md-tabs-container ul li {
  list-style: none;
  display: flex;
  height: 100%;
}

.md-tabs-container ul li .md-tabs-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  font-size: 1em;
  font-weight: 400;
  padding: 0.8125rem 1.5rem 0.75rem 1.5rem;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid var(--mdGreyColor80);
}
.md-tabs-container ul li .md-tabs-button::after {
  content: attr(data-text);
  content: attr(data-text) / '';
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: 600;
}

.md-tabs-container ul li .md-tabs-button.md-tabs-button--disabled {
  background-color: var(--mdGreyColor20);
  color: var(--mdGreyColor80);
  cursor: not-allowed;
}

.md-tabs-container ul li .md-tabs-button.md-tabs-button--selected {
  font-weight: 600;
  padding: 0.8125rem 1.5rem 0.5625rem 1.5rem;
  border-bottom: 4px solid var(--mdPrimaryColor80);
}
.md-tabs-container ul li .md-tabs-button:not(.md-tabs-button--disabled):hover {
  background-color: var(--mdPrimaryColor20);
  cursor: pointer;
}

.md-tabs-container ul li .md-tabs-button:not(.md-tabs-button--disabled):focus {
  outline: 2px solid var(--mdPrimaryColor);
  outline-offset: -2px;
  background-color: var(--mdPrimaryColor20);
  cursor: pointer;
}

/* Compact tabs */
.md-tabs-container.md-tabs__compact ul {
  gap: 0;
  flex-wrap: nowrap;
  border-radius: 0.25rem;
}

.md-tabs-container.md-tabs__compact ul li .md-tabs-button {
  height: 1.875rem;
  padding: 0.25rem 1rem;
  justify-content: center;
  border: 0.0625rem solid var(--mdGreyColor40);
}

.md-tabs-container.md-tabs__compact ul li:first-child .md-tabs-button {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-right: none;
}

.md-tabs-container.md-tabs__compact ul li:last-child .md-tabs-button {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-left: none;
}

.md-tabs-container.md-tabs__compact ul li .md-tabs-button.md-tabs-button--selected {
  background-color: var(--mdPrimaryColor80);
  color: white;
  border-color: var(--mdPrimaryColor80);
  font-weight: 400;
}


.md-tabs-container.md-tabs__compact ul li .md-tabs-button--selected:hover:not(.md-tabs-button--disabled) {
  background-color: var(--mdPrimaryColor);
  color: white;
  cursor: default;
}

.md-tabs-container.md-tabs__compact ul li .md-tabs-button::after {
  display: none;
}