.md-tabs-container {
  font-family: var(--md-typography-family-body);
}

.md-tabs-container .md-tabs-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--md-size-24);
  padding-inline-start: 0px;
  margin: var(--md-size-16) 0;
}

.md-tabs-container {
  list-style: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.md-tabs-container .md-tabs-button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: var(--md-typography-size-16);
  font-weight: var(--md-typography-weight-regular);
  padding: 0.8125rem var(--md-size-24) var(--md-size-12) var(--md-size-24);
  border: 0;
  background-color: transparent;
  border-bottom: var(--md-size-1) solid var(--md-color-border-primary);
}
.md-tabs-container .md-tabs-button::after {
  content: attr(data-text);
  content: attr(data-text) / '';
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: var(--md-typography-weight-semibold);
}

.md-tabs-container .md-tabs-button.md-tabs-button--disabled {
  background-color: var(--md-color-disabled-bg);
  color: var(--md-color-disabled-default);
  cursor: not-allowed;
}

.md-tabs-container .md-tabs-button.md-tabs-button[aria-selected='true'] {
  font-weight: var(--md-typography-weight-semibold);
  padding: 0.8125rem var(--md-size-24) 0.5625rem var(--md-size-24);
  border-bottom: 4px solid var(--md-color-cta-primary-focus);
}
.md-tabs-container .md-tabs-button:not(.md-tabs-button--disabled):hover {
  background-color: var(--md-color-cta-secondary-hover);
  cursor: pointer;
}

.md-tabs-container .md-tabs-button:not(.md-tabs-button--disabled):focus-visible {
  outline: var(--md-size-2) solid var(--md-color-cta-primary-focus);
  outline-offset: -2px;
  background-color: var(--md-color-cta-secondary-hover);
  cursor: pointer;
}

/* Tabs as chips */
.md-tabs-container .md-tabs-list .md-chip[aria-selected='true'] {
  background-color: var(--md-color-cta-primary-focus);
  color: var(--md-color-text-inverted);
  border-color: var(--md-color-cta-primary-focus);
  font-weight: var(--md-typography-weight-regular);
}
.md-tabs-container .md-tabs-list .md-chip[aria-selected='true']:focus-visible {
  outline-offset: -0.3125rem;
  outline-color: var(--md-color-text-inverted);
}
.md-tabs-container .md-tabs-list .md-chip .md-chip__left-icon {
  display: none;
}
.md-tabs-container .md-tabs-list .md-chip[aria-selected='true'] .md-chip__left-icon {
  display: flex;
}

/* COMPACT TABS */
.md-tabs-container.md-tabs__compact .md-tabs-list {
  gap: 0;
  flex-wrap: nowrap;
  border-radius: var(--md-size-4);
}

.md-tabs-container.md-tabs__compact .md-tabs-list .md-tabs-button {
  height: 1.875rem;
  padding: var(--md-size-4) var(--md-size-16);
  justify-content: center;
  border: 0.0625rem solid var(--md-color-border-primary);
}

.md-tabs-container.md-tabs__compact .md-tabs-list .md-tabs-button:first-child {
  border-top-left-radius: var(--md-size-4);
  border-bottom-left-radius: var(--md-size-4);
  border-right: none;
}

.md-tabs-container.md-tabs__compact .md-tabs-list .md-tabs-button:last-child {
  border-top-right-radius: var(--md-size-4);
  border-bottom-right-radius: var(--md-radius-sm);
  border-left: none;
}

.md-tabs-container.md-tabs__compact .md-tabs-button.md-tabs-button[aria-selected='true'] {
  background-color: var(--md-color-cta-primary-focus);
  color: var(--md-color-grey-white);
  border-color: var(--md-color-cta-primary-focus);
  font-weight: var(--md-typography-weight-regular);
}

.md-tabs-container.md-tabs__compact .md-tabs-button--selected:hover:not(.md-tabs-button--disabled) {
  background-color: var(--md-color-cta-secondary-hover);
  color: var(--md-color-text-inverted);
  cursor: default;
}

.md-tabs-container.md-tabs__compact .md-tabs-button::after {
  display: none;
}
