.md-chip {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid var(--mdPrimaryColor);
  border-radius: 10em;
  color: var(--mdPrimaryColor);
  font-weight: 400;
  font-family: 'Open sans';
  font-size: 1rem;
  line-height: 22px;
  padding: .5rem 1rem;
  cursor: pointer;
  text-align: left;
}

.md-chip.md-chip--solid:not(.md-chip--disabled) {
  background-color: var(--mdPrimaryColor);
  color: #fff;
}
.md-chip.md-chip--solid:not(.md-chip--disabled):hover {
  background-color: var(--mdPrimaryColor120);
  color: #fff;
}
.md-chip.md-chip--solid:not(.md-chip--disabled):focus {
  outline-offset: 2px;
}

.md-chip:not(.md-chip--disabled):hover {
  background-color: var(--mdPrimaryColor20);
}

.md-chip:not(.md-chip--disabled):focus {
  outline: 2px solid var(--mdPrimaryColor);
  outline-offset: -2px;
}

.md-chip--disabled {
  background-color: var(--mdGreyColor20);
  color: var(--mdGreyColor60);
  border: 1px solid var(--mdGreyColor60);
  cursor: default;
}

.md-chip--disabled:focus {
  outline: none;
}

.md-chip:not(.md-chip--disabled).md-chip--active {
  background-color: var(--mdPrimaryColor);
  color: #fff;
}

.md-chip:not(.md-chip--disabled).md-chip--active:focus {
  outline-offset: 2px;
}

.md-chip__left-icon {
  display: flex;
  width: 16px;
  height: 16px;
  margin-right: .66em;
}

.md-chip__label {
  display: flex;
}

.md-chip__right-icon {
  display: flex;
  width: 12px;
  height: 12px;
  margin-left: .8em;
}
