.md-chip {
  display: flex;
  align-items: center;
  background-color: var(--color-surface-primary);
  outline: 1px solid var(--color-border-tertiary);
  outline-offset: -1px;
  border: none;
  border-radius: 10rem;
  color: var(--color-text-secondary);
  font-weight: 400;
  font-family: var(--font-family-open-sans);
  font-size: var(--typography-body-m-font-size);
  line-height: var(--typography-body-m-line-height);
  padding: var(--spacing-8) var(--spacing-16);
  cursor: pointer;
  text-align: left;
}

.md-chip.md-chip--solid:not(.md-chip--disabled) {
  background-color: var(--color-cta-primary-focus);
  color: var(--color-text-invert);
}
.md-chip.md-chip--solid:not(.md-chip--disabled):hover {
  background-color: var(--color-cta-primary-hover);
  color: var(--color-text-invert);
}
.md-chip.md-chip--active:not(.md-chip--disabled):hover {
  background-color: var(--color-cta-primary-hover);
  color: var(--color-text-invert);
}
.md-chip.md-chip--solid:not(.md-chip--disabled):focus {
  outline-offset: 0.1875rem;
}

.md-chip:not(.md-chip--disabled):hover {
  background-color: var(--color-cta-secondary-hover);
}

.md-chip:not(.md-chip--disabled):focus {
  outline: 0.1875rem solid var(--color-cta-primary-default);
  outline-offset: -0.1875rem;
}

.md-chip--disabled {
  background-color: var(--color-disabled-bg);
  color: var(--color-text-disabled);
  outline: 1px solid var(--color-disabled-default);
  cursor: default;
}

.md-chip--disabled:focus {
  outline: none;
}

.md-chip:not(.md-chip--disabled).md-chip--active {
  background-color: var(--mdPrimaryColor80);
  color: #fff;
}

.md-chip:not(.md-chip--disabled).md-chip--active:focus {
  outline-offset: -0.3125rem;
  outline-color: #fff;
}

.md-chip__left-icon {
  display: flex;
  width: var(--spacing-20);
  height: var(--spacing-20);
  margin-right: 0.66rem;
}

.md-chip__label {
  display: flex;
}

.md-chip__right-icon {
  display: flex;
  width: var(--spacing-20);
  height: var(--spacing-20);
  margin-left: 0.8rem;
}
