.md-toggle__wrapper {
  display: flex;
}

.md-toggle__wrapper:focus-within,
.md-toggle__wrapper:focus {
  outline: none;
}

.md-toggle__wrapper * {
  font-family: var(--md-font-family-open-sans);
  font-size: var(--md-typography-body-m-font-size);
}

.md-toggle__checkbox {
  height: 0;
  width: 0;
  opacity: 0;
  position: absolute;
}

.md-toggle__label-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.md-toggle__wrapper:focus-within .md-toggle__label-wrapper {
  outline: 2px solid var(--md-color-primary-80);
  outline-offset: 4px;
}

.md-toggle__label-wrapper--disabled {
  cursor: default;
}

.md-toggle__label-wrapper--disabled {
  cursor: default;
}

.md-toggle__label-wrapper:not(.md-toggle__label-wrapper--disabled):hover .md-toggle__label-text {
  text-decoration: underline;
}

.md-toggle__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: var(--md-spacing-40);
  height: var(--md-spacing-24);
  background-color: var(--md-color-grey-white);
  border: 1px solid var(--md-color-grey-60);
  border-radius: var(--md-radius-xl);
  position: relative;
}
.md-toggle__label--error.md-toggle__label {
  border-color: var(--md-color-support-error-100);
}

.md-toggle__label--checked {
  background-color: var(--md-color-primary-20);
}

.md-toggle__label--disabled {
  background-color: var(--md-color-grey-20);
  cursor: default;
}

.md-toggle__label-text {
  margin-right: var(--md-spacing-8);
}

.md-toggle__label .md-toggle__button {
  content: '';
  position: absolute;
  top: 0.0625rem;
  left: var(--md-spacing-4);
  width: var(--md-spacing-20);
  height: var(--md-spacing-20);
  border-radius: var(--md-radius-xl);
  background: var(--md-color-grey-60);
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.md-toggle__label--checked:not(.md-toggle__label--disabled) .md-toggle__button {
  background-color: var(--md-color-primary-100);
}

.md-toggle__checkbox:checked + .md-toggle__label-wrapper .md-toggle__label .md-toggle__button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

/* Error text */
.md-toggle__error {
  color: var(--md-color-support-error-100);
  font-family: var(--md-font-family-open-sans);
  font-size: var(--md-typography-body-s-font-size);
}
