.md-button {
  align-items: center;
  background-color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  color: #ffffff;
  display: flex;
  font-weight: 400;
  font-family: 'Open sans';
  font-size: 1rem;
  outline: 2px solid var(--primaryColor);
  padding: .75rem 1.5rem;
}

.md-button--small {
  padding: .4rem .8rem;
  border-radius: .43rem;
}

.md-button__leftIcon {
  height: 16px;
  width: 16px;
  position: relative;
  right: 8px;
  top: 0;
}

.md-button__rightIcon {
  height: 16px;
  width: 16px;
  position: relative;
  left: 8px;
  top: 0;
}

.md-button:focus {
  background-color: var(--primaryColor80);
  border-color: var(--primaryColor80);
  outline: 2px solid var(--primaryColor80);
  outline-offset: 2px;
}

.md-button:hover {
  cursor: pointer;
  background-color: var(--primaryColor120);
  border-color: var(--primaryColor120);
  outline: 2px solid var(--primaryColor120);
}

.md-button[disabled],
.md-button:disabled {
  background-color: var(--greyColor20);
  border: 2px solid var(--greyColor20);
  color: var(--greyColor60);
  cursor: not-allowed;
  outline: 2px solid var(--greyColor20);
}

.md-button--secondary {
  background-color: #ffffff;
  border: 2px solid var(--primaryColor20);
  color: var(--primaryColor);
}

.md-button--secondary:hover:enabled {
  background-color: #ccdfde;
}

.md-button--secondary:focus:enabled {
  /* background-color: #ccdfde; */
  background-color: #ffffff;
  outline: 2px solid var(--primaryColor80);
  border-color: var(--primaryColor80);
}

.md-button--secondary:disabled {
  background-color: #fff;
  border: 2px solid var(--greyColor20);
  color: var(--greyColor20);
}

.md-button--secondary > .md-button__rightIcon {
  color: var(--primaryColor);
}

.md-button--danger {
  border: 2px solid var(--errorColor);
  background-color: var(--errorColor);
  outline: 2px solid var(--errorColor);
}

.md-button--danger:focus:enabled {
  background-color: var(--errorColor);
  border-color: var(--errorColor);
  outline: 2px solid var(--errorColor);
}

.md-button--danger:hover:enabled {
  background-color: var(--errorColor120);
  border-color: var(--errorColor120);
  outline: 2px solid var(--errorColor120);
}
