.md-checkbox {
  cursor: pointer;
  position: relative;
}

.md-checkbox__input {
  opacity: 0;
  position: absolute;
  left: 0;
}

.md-checkbox__label {
  display: flex;
  cursor: pointer;
  position: relative;
}

.md-checkbox__label::before {
  border: 1px solid #8a8a8a;
  content: '';
  cursor: pointer;
  height: 1.2rem;
  min-width: 1.2rem;
}

.md-checkbox:focus-within .md-checkbox__label::before {
  outline: 2px solid var(--outlineColor2);
  outline-offset: 2px;
}

.md-checkbox__input:checked + .md-checkbox__label::before {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iZTk2NWRkN2EtN2NlNS00MTc0LThjMjEtY2UwNjIzYmFmNTJhIiBkYXRhLW5hbWU9ImNoZWNrbWFyay1ncmVlbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTMgMTAuMDIiPjx0aXRsZT5jaGVja21hcmstZ3JlZW48L3RpdGxlPjxwYXRoIGQ9Ik0xMS4xNCwwLDQuODMsNi4zMWwtMy0zTDAsNS4xOSw0LjgzLDEwLDEzLDEuODZaIiBmaWxsPSIjMDA2MTVjIiAvPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-position-y: 2px;
  background-position-x: 1px;
  background-size: 18px;
}

.md-checkbox__labelText {
  left: 8px;
  top: 2px;
  position: relative;
}
