:root {
  --mdPrimaryColor: #005e5d;
  --mdPrimaryColor120: #005251;
  --mdPrimaryColor80: #337E7D;
  --mdPrimaryColor20: #CCDFDE;
  --mdPrimaryColor10: #E5EEEE;

  --mdLightPrimaryColor: #40c1ac;
  --mdDarkPrimaryColor: #005251;

  --mdSecondaryColor: #ECE7D2;
  --mdSecondaryColor80: #EFEBDB;
  --mdSecondaryColor60: #F3F0E4;
  --mdSecondaryColor40: #F7F5ED;
  --mdSecondaryColor20: #FBFAF6;

  --mdTextColor: #222222;

  --mdWarningBackgoundColor: #FCE4CA;

  --mdErrorColor: #ca0000;
  --mdErrorColor120: #B7090D;

  --mdGreyColor: #222222;
  --mdGreyColor10: #E8E8E8;
  --mdGreyColor20: #D2D2D2;
  --mdGreyColor40: #A6A6A6;
  --mdGreyColor60: #808080;
  --mdGreyColor80: #4E4E4E;
}
