.md-data-grid {
  display: flex;
  flex-direction: column;
  position: relative;
}

.md-data-grid__right {
  position: absolute;
  right: 12px;
}

.md-data-grid__right__content {
  display: flex;
  gap: 0.5rem;
}

.md-data-grid__columnHeaders {
  align-self: flex-start;
  display: flex;
  font-weight: 600;
  gap: 3rem;
  padding: 1rem 0.75rem 1rem 0.75rem;
}

.md-data-grid__columnHeaders__flexWrapper {
  display: flex;
}

.md-data-grid__columnHeaders__item {
  width: 150px;
}

.md-data-grid__rows {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.md-data-grid__row {
  border-bottom: 1px solid #a1b7b5;
  padding: 1rem 0.75rem 1rem 0.75rem;
}

.md-data-grid__row:nth-child(odd) {
  background-color: #f3f8f8;
}

.md-data-grid__row:nth-child(even) {
  background-color: rgba(243, 248, 248, 0.3);
}

.md-data-grid__row:first-child {
  border-top: 1px solid #a1b7b5;
}

.md-data-grid__row__flexWrapper {
  display: flex;
  gap: 3rem;
}

.md-data-grid__row__values {
  display: flex;
}

.md-data-grid__row__value {
  min-width: 150px;
  width: 150px;
}
