.md-link {
  border-bottom: 1px solid var(--darkPrimaryColor);
  color: var(--darkPrimaryColor);
  cursor: pointer;
  font-family: 'Sofia Pro';
  font-size: 1rem;
  text-decoration: none;
}

.md-link:focus {
  outline: 2px solid var(--outlineColor);
}
