.md-link {
  color: var(--primaryColor);
  cursor: pointer;
  font-family: 'Open sans';
  text-decoration: underline;
}

.md-link:hover {
  color: var(--primaryColor120)
}

.md-link:focus {
  outline: 2px solid var(--primaryColor80);
}
