.md-shortcut {
  background-color: #ebf3f3;
  border-radius: 2px;
  color: #222;
  display: flex;
  font-family: 'Sofia Pro';
  font-size: 22px;
  max-width: 600px;
  padding: 1.65rem 1.5rem 1.45rem 1.5rem;
  position: relative;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.md-shortcut:hover {
  background-color: #d9e4e4;
  text-decoration: underline;
}

.md-shortcut:active {
  border-bottom: 3px solid var(--mdPrimaryColor);
}

.icon {
  height: 10px;
  width: 16px;
  position: absolute;
  right: 30px;
  top: 26px;
}
