@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes spinAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes width {
  0% {
    max-width: 0;
  }
  100% {
    max-width: 100%;
  }
}
