.md-input__outer-wrapper {
  font-family: var(--md-font-family-sofia-pro);
  font-size: var(--md-typography-body-m-font-size);
}

.md-input__outer-wrapper--small {
  max-width: 336px;
}

.md-input {
  padding: var(--md-size-16) var(--md-size-32) var(--md-size-16) var(--md-size-16);
  max-width: 100%;
  width: 100%;
  background-color: var(--md-color-grey-white);
  border-radius: 0;
  border: 1px solid var(--md-color-grey-60);
  margin: 1px;
  color: var(--md-color-grey-100);
  font-size: var(--md-typography-body-m-font-size);
  box-sizing: border-box;
}

.md-input--small {
  padding: var(--md-size-8) var(--md-size-32) var(--md-size-8) var(--md-size-16);
}

.md-input:not(.md-input.md-input--readonly):not(.md-input.md-input--disabled):active,
.md-input:not(.md-input.md-input--readonly):not(.md-input.md-input--disabled):focus-visible {
  outline: 2px solid var(--md-color-primary-80);
  outline-offset: -2px;
  border-color: transparent;
}

.md-input.md-input--disabled:focus-visible,
.md-input.md-input--readonly:focus-visible {
  outline: 0;
  cursor: default;
}

.md-input.md-input--disabled {
  background-color: var(--md-color-grey-20);
}

.md-input.md-input--readonly:not(.md-input.md-input--disabled) {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--md-color-grey-60);
}

.md-input.md-input--error {
  border-color: var(--md-color-attention-error-primary);
}

.md-input.md-input--has-suffix {
  padding-right: var(--md-size-80);
}

.md-input--small.md-input--has-suffix {
  padding-right: var(--md-size-56);
}

.md-input.md-input--has-prefix {
  padding-left: var(--md-size-40);
}

.md-input--small.md-input--has-prefix {
  padding-left: var(--md-size-32);
}

.md-input__wrapper {
  position: relative;
}

.md-input__wrapper.md-input__wrapper--small {
  max-width: 336px;
}

.md-input__label-wrapper {
  margin-bottom: var(--md-size-8);
}

.md-input__label {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
}

.md-input__label > * + * {
  margin-left: var(--md-size-16);
}

.md-input__help-button {
  display: flex;
  flex-grow: 1;
}

.md-input__error {
  color: var(--md-color-attention-error-primary);
  font-size: var(--md-typography-body-s-font-size);
  margin-top: var(--md-size-8);
}

.md-input__help-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}

.md-input__help-text--open {
  padding-top: var(--md-size-8);
  max-height: 2000px;
  transition: max-height 0.5s ease-in;
}

.md-input__prefix {
  position: absolute;
  top: var(--md-size-16);
  left: var(--md-size-16);
  height: var(--md-size-20);
  width: var(--md-size-20);
  display: flex;
  color: var(--md-color-text-secondary);
}

.md-input__prefix.md-input__prefix--disabled {
  color: var(--md-color-grey-60);
}

.md-input__wrapper.md-input__wrapper--small .md-input__prefix {
  top: var(--md-size-12);
  left: var(--md-size-8);
}

.md-input__suffix {
  position: absolute;
  top: var(--md-size-16);
  right: var(--md-size-16);
  display: flex;
}

.md-input__suffix > * + * {
  margin-left: var(--md-size-8);
}

.md-input__error-icon {
  width: var(--md-size-20);
  height: var(--md-size-20);
  margin-left: var(--md-size-8);
  color: var(--md-color-attention-error-primary);
}

.md-input__wrapper.md-input__wrapper--small .md-input__suffix {
  top: var(--md-size-8);
  right: var(--md-size-12);
}

.md-input__wrapper.md-input__wrapper--small .md-input__suffix > * + * {
  margin-left: var(--md-size-4);
}

.md-input::placeholder {
  color: var(--md-color-grey-60);
  font-family: var(--md-font-family-sofia-pro);
}

/* Hacks for hiding arrows if type=number */
.md-input.md-input--hide-number-arrows[type='number'],
.md-input.md-input--hide-number-arrows::-webkit-outer-spin-button,
.md-input.md-input--hide-number-arrows::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 1px;
}
