.md-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 900;
  font-family: var(--font-family-open-sans);
}

.md-modal--open {
  display: block;
}

.md-modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-text-primary);
  opacity: 0.4;
  overflow-y: auto;
  z-index: 800;
}

.md-modal__content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.md-modal__inner-wrapper {
  padding: 0 0 var(--spacing-32) var(--spacing-32);
  background-color: var(--color-surface-primary);
  min-width: 325px;
  max-width: 80%;
  border: 1px solid var(--color-border-secondary);
  box-shadow: var(--spacing-8) var(--spacing-8) var(--spacing-16) var(--color-border-primary);
}

.md-modal--error .md-modal__inner-wrapper {
  border: 2px solid var(--color-attention-error-primary);
}

.md-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: var(--spacing-16);
  font-size: var(--typography-heading-s-font-size);
}

.md-modal__header-content {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
}

.md-modal__close-button {
  margin-right: var(--spacing-32);
}

.md-modal__content-inner {
  padding-right: var(--spacing-32);
}
