.md-modal {
  position: fixed;
  inset: var(--inset);
  z-index: 900;
  margin: auto;
  display: flex;
  height: fit-content;
  max-height: calc(100dvh - var(--inset) * 2);
  flex-direction: column;
  gap: var(--md-size-8);
  background-color: var(--md-color-surface-primary);
  border: var(--md-size-1) solid var(--md-color-border-secondary);
  padding: var(--md-size-16) 0;
  color: var(--md-color-text-primary);
  box-shadow: 0px var(--md-size-12) var(--md-size-24) 0px rgba(0, 0, 0, 0.16),
    0px var(--md-size-1) var(--md-size-8) 0px rgba(0, 0, 0, 0.16), 0px 0px 1px 0px rgba(0, 0, 0, 0.12);
  --inset: var(--md-size-12);
  transform-origin: center;
  opacity: 0;
  transition-property: opacity, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transform: scale(0.95);
  font-family: var(--md-typography-family-body);
}

@media (min-width: 640px) {
  .md-modal {
    gap: var(--md-size-16);
    top: 10vh;
    bottom: 10vh;
    margin-top: 0px;
    max-height: 80vh;
    min-width: 325px;
    width: 80%;
    max-width: 800px;
    padding: var(--md-size-24) 0;
  }
}

@media (min-width: 1539px) {
  .md-modal {
    max-width: 1000px;
  }
}

.md-modal[data-enter] {
  opacity: 1;
  transform: scale(1);
}
.md-modal.md-modal--error {
  border: var(--md-size-2) solid var(--md-color-attention-error-primary);
}

/* OVERLAY */
.md-modal__overlay {
  background: rgba(34, 34, 34, 0.4);
  -webkit-backdrop-filter: blur(2px);
  opacity: 0;
  transition-property: opacity, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  backdrop-filter: blur(0);
  z-index: 800;
}
.md-modal__overlay[data-enter] {
  opacity: 1;
  backdrop-filter: blur(2px);
}

/* CONTENT */
.md-modal__content {
  display: flex;
  flex: 1 1 auto;
  gap: var(--md-size-8);
  flex-direction: column;
  max-width: 100%;
  padding: var(--md-size-8) var(--md-size-16);
  overflow: auto;
}
@media (min-width: 640px) {
  .md-modal__content {
    padding: var(--md-size-12) var(--md-size-32);
  }
}

/* HEADER */
.md-modal__header-wrapper {
  flex: 0 0 auto;
}
.md-modal__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--md-size-16) var(--md-size-8) var(--md-size-16);
  font-size: var(--md-typography-size-20);
  line-height: 2.125rem;
  font-family: var(--md-typography-family-heading);
  font-weight: var(--md-typography-weight-regular);
}
@media (min-width: 640px) {
  .md-modal__header {
    padding: 0 var(--md-size-32) var(--md-size-8) var(--md-size-32);
  }
}

.md-modal__header-divider {
  height: var(--md-size-1);
  width: 100%;
  margin: var(--md-size-8) 0;
  background-color: var(--md-color-border-secondary);
}

.md-modal__header-content {
  display: flex;
  align-items: center;
  gap: var(--md-size-8);
}

.md-modal__close-button {
  all: unset;
  cursor: pointer;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: var(--md-radius-half);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}
.md-modal__close-button svg {
  width: var(--md-size-20);
}
.md-modal__close-button:hover {
  outline: var(--md-size-1) solid var(--md-color-border-tertiary);
}
.md-modal__close-button:focus-visible {
  outline: var(--md-size-2) solid var(--md-color-border-tertiary);
}

/* FOOTER */
.md-modal__footer-wrapper {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.md-modal__footer {
  padding: 0 var(--md-size-16);
}
@media (min-width: 640px) {
  .md-modal__footer {
    padding: 0 var(--md-size-32);
  }
}
.md-modal__footer-divider {
  height: var(--md-size-1);
  width: var(--md-size-full);
  margin: var(--md-size-8) 0;
  background-color: var(--md-color-border-secondary);
  margin-bottom: var(--md-size-24);
}
