.md-autocomplete {
  font-family: var(--md-typography-family-body);
  width: 100%;
}

.md-autocomplete--medium {
  max-width: 27.5rem;
}

.md-autocomplete--small {
  max-width: 16.25rem;
}

.md-autocomplete__container {
  position: relative;
  background-color: var(--md-color-surface-primary);
}

.md-autocomplete__label {
  display: flex;
  align-items: flex-end;
  font-weight: var(--md-typography-weight-medium);
  padding-bottom: var(--md-size-8);
}

.md-autocomplete__label > * + * {
  margin-left: var(--md-size-16);
}

.md-autocomplete__input {
  max-width: 100%;
  width: 100%;
  background-color: transparent;
  border-radius: 0;
  color: var(--md-color-text-primary);
  box-sizing: border-box;
  font-family: var(--md-typography-family-body);
  font-size: var(--md-typography-size-16);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--md-size-16);
  border: var(--md-size-1) solid var(--md-color-border-primary);
  text-align: left;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.md-autocomplete__input.md-autocomplete__input--error {
  border-color: var(--md-color-attention-error-primary);
}

.md-autocomplete--small > .md-autocomplete__input {
  padding: var(--md-size-12);
}

.md-autocomplete--disabled .md-autocomplete__input {
  background-color: var(--md-color-disabled-bg);
  color: var(--md-color-text-disabled);
  cursor: not-allowed;
}

.md-autocomplete__input:focus-visible,
.md-autocomplete__input:focus-visible-within {
  outline: none;
}

.md-autocomplete__input-text {
  display: flex;
  flex-grow: 1;
  padding-right: var(--md-size-16);
}

.md-autocomplete__input.md-autocomplete__input--has-prefix {
  padding-left: var(--md-size-40);
}

.md-autocomplete__input--small.md-autocomplete__input--has-prefix {
  padding-left: 1.8rem;
}

.md-autocomplete__input__prefix {
  position: absolute;
  top: 1.1rem;
  left: var(--md-size-16);
  height: var(--md-size-20);
  width: var(--md-size-20);
  display: flex;
  color: var(--md-color-text-secondary);
  z-index: 2;
}

.md-autocomplete--small > .md-autocomplete__input__prefix {
  top: var(--md-size-16);
  left: var(--md-size-16);
}

.md-autocomplete__input__prefix.md-autocomplete__input__prefix--disabled {
  color: var(--md-color-text-disabled);
}

.md-autocomplete__input-icon {
  position: absolute;
  top: 1.3rem;
  right: 0.9rem;
  display: flex;
  width: var(--md-size-16);
  height: var(--md-size-16);
  color: var(--md-color-text-primary);
  z-index: 0;
}

.md-autocomplete--small > .md-autocomplete__input-icon {
  top: var(--md-size-16);
  right: var(--md-size-16);
}

.md-autocomplete__help-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}

.md-autocomplete__help-text--open {
  padding-top: var(--md-size-8);
  padding-bottom: var(--md-size-8);
  max-height: 125rem;
  transition: max-height 0.5s ease-in;
}

.md-autocomplete__dropdown {
  position: absolute;
  max-height: 0;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
  transition: max-height 0.5s ease-in-out;
  width: 100%;
}

.md-autocomplete__dropdown-item {
  display: flex;
  align-items: center;
  font-family: var(--md-typography-family-body);
  font-size: var(--md-typography-size-16);
  border: 0;
  background-color: var(--md-color-surface-primary);
  width: 100%;
  text-align: left;
  padding: 0.9rem;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
}

.md-autocomplete__dropdown-item:hover,
.md-autocomplete__dropdown-item:focus-visible {
  outline: none;
  background-color: var(--md-color-surface-info-primary);
  transition: background-color 0.15s ease-in-out;
}

.md-autocomplete__dropdown-item--selected {
  background-color: var(--md-color-surface-secondary);
}

.md-autocomplete__dropdown-item-text {
  display: flex;
  flex-grow: 1;
}

.md-autocomplete__dropdown-item-clear {
  display: flex;
  flex-shrink: 0;
  height: var(--md-size-12);
  width: var(--md-size-12);
  color: var(--md-color-text-secondary);
}

.md-autocomplete__dropdown-no-results {
  padding: 0.9rem;
  background-color: var(--md-color-surface-primary);
  font-style: italic;
}

/* Open state */
.md-autocomplete--open .md-autocomplete__input {
  border-left: var(--md-size-2) solid var(--md-color-border-tertiary);
  border-right: var(--md-size-2) solid var(--md-color-border-tertiary);
  border-top: var(--md-size-2) solid var(--md-color-border-tertiary);
  padding-bottom: calc(1rem - 1px);
}
.md-autocomplete--open.md-autocomplete--small .md-autocomplete__input {
  padding-bottom: calc(0.75rem - 1px);
}

.md-autocomplete--open .md-autocomplete__dropdown {
  max-height: 21.875rem;
  overflow-y: auto;
  opacity: 1;
  transition: max-height 0.5s ease-in-out;
  border-left: var(--md-size-2) solid var(--md-color-border-tertiary);
  border-right: var(--md-size-2) solid var(--md-color-border-tertiary);
  border-bottom: var(--md-size-2) solid var(--md-color-border-tertiary);
  box-shadow: var(--md-size-0) var(--md-size-2) var(--md-size-4) var(--md-size-0) rgba(0, 0, 0, 0.25);
  z-index: 3;
}

/* Focus state */
.md-autocomplete:not(.md-autocomplete--open) .md-autocomplete__input:focus-visible {
  border: var(--md-size-2) solid var(--md-color-border-tertiary);
}

/* open + error */
.md-autocomplete--open.md-autocomplete--error .md-autocomplete__input {
  border-color: var(--md-color-attention-error-primary);
}
.md-autocomplete--open.md-autocomplete--error .md-autocomplete__dropdown {
  border-color: var(--md-color-attention-error-primary);
}

/* Error text */
.md-autocomplete__error {
  color: var(--md-color-attention-error-primary);
  font-size: 0.88rem;
}
