.md-autocomplete {
  font-family: var(--md-font-family-open-sans);
  width: 100%;
}

.md-autocomplete--medium {
  max-width: 27.5rem;
}

.md-autocomplete--small {
  max-width: 16.25rem;
}

.md-autocomplete__container {
  position: relative;
  background-color: var(--md-color-surface-primary);
}

.md-autocomplete__label {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
  padding-bottom: var(--md-spacing-8);
}

.md-autocomplete__label > * + * {
  margin-left: var(--md-spacing-16);
}

.md-autocomplete__input {
  max-width: 100%;
  width: 100%;
  background-color: transparent;
  border-radius: 0;
  color: var(--md-color-text-primary);
  box-sizing: border-box;
  font-family: var(--md-font-family-open-sans);
  font-size: var(--md-typography-body-m-font-size);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--md-spacing-16);
  border: 1px solid var(--md-color-border-primary);
  text-align: left;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.md-autocomplete__input.md-autocomplete__input--error {
  border-color: var(--md-color-attention-error-primary);
}

.md-autocomplete--small > .md-autocomplete__input {
  padding: var(--md-spacing-12);
}

.md-autocomplete--disabled .md-autocomplete__input {
  background-color: var(--md-color-disabled-bg);
  color: var(--md-color-text-disabled);
  cursor: not-allowed;
}

.md-autocomplete__input:focus,
.md-autocomplete__input:focus-within {
  outline: none;
}

.md-autocomplete__input-text {
  display: flex;
  flex-grow: 1;
  padding-right: 1rem;
}

.md-autocomplete__input.md-autocomplete__input--has-prefix {
  padding-left: 2.5rem;
}

.md-autocomplete__input--small.md-autocomplete__input--has-prefix {
  padding-left: 1.8rem;
}

.md-autocomplete__input__prefix {
  position: absolute;
  top: 1.1rem;
  left: 1rem;
  height: 1.25rem;
  width: 1.25rem;
  display: flex;
  color: var(--mdPrimaryColor);
  z-index: 2;
}

.md-autocomplete--small > .md-autocomplete__input__prefix {
  top: 1rem;
  left: 1rem;
}

.md-autocomplete__input__prefix.md-autocomplete__input__prefix--disabled {
  color: var(--mdGreyColor60);
}

.md-autocomplete__input-icon {
  position: absolute;
  top: 1.3rem;
  right: 0.9rem;
  display: flex;
  width: 1rem;
  height: 1rem;
  color: var(--mdGreyColor);
  z-index: 0;
}

.md-autocomplete--small > .md-autocomplete__input-icon {
  top: 1rem;
  right: 1rem;
}

.md-autocomplete__help-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}

.md-autocomplete__help-text--open {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  max-height: 2000px;
  transition: max-height 0.5s ease-in;
}

.md-autocomplete__dropdown {
  position: absolute;
  max-height: 0;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
  transition: max-height 0.5s ease-in-out;
  width: 100%;
}

.md-autocomplete__dropdown-item {
  display: flex;
  align-items: center;
  font-family: var(--md-font-family-open-sans);
  font-size: var(--md-typography-body-m-font-size);
  border: 0;
  background-color: var(--md-color-surface-primary);
  width: 100%;
  text-align: left;
  padding: var(--md-spacing-16);
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
}

.md-autocomplete__dropdown-item:hover,
.md-autocomplete__dropdown-item:focus {
  outline: none;
  background-color: var(--mdPrimaryColor20);
  transition: background-color 0.15s ease-in-out;
}

.md-autocomplete__dropdown-item--selected {
  background-color: var(--mdPrimaryColor10);
}

.md-autocomplete__dropdown-item-text {
  display: flex;
  flex-grow: 1;
}

.md-autocomplete__dropdown-item-clear {
  display: flex;
  flex-shrink: 0;
  height: 0.75rem;
  width: 0.75rem;
  color: var(--mdPrimaryColor);
}

.md-autocomplete__dropdown-no-results {
  padding: 0.9rem;
  background-color: #fff;
  font-style: italic;
}

/* Open state */
.md-autocomplete--open .md-autocomplete__input {
  border-left: 2px solid var(--mdPrimaryColor);
  border-right: 2px solid var(--mdPrimaryColor);
  border-top: 2px solid var(--mdPrimaryColor);
  padding-bottom: calc(1rem - 1px);
}
.md-autocomplete--open.md-autocomplete--small .md-autocomplete__input {
  padding-bottom: calc(0.75rem - 1px);
}

.md-autocomplete--open .md-autocomplete__dropdown {
  max-height: 21.875rem;
  overflow-y: auto;
  opacity: 1;
  transition: max-height 0.5s ease-in-out;
  border-right: 2px solid var(--mdPrimaryColor);
  border-left: 2px solid var(--mdPrimaryColor);
  border-bottom: 2px solid var(--mdPrimaryColor);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 3;
}

/* Focus state */
.md-autocomplete:not(.md-autocomplete--open) .md-autocomplete__input:focus {
  border: 2px solid var(--mdPrimaryColor);
}

/* open + error */
.md-autocomplete--open.md-autocomplete--error .md-autocomplete__input {
  border-color: var(--mdErrorColor);
}
.md-autocomplete--open.md-autocomplete--error .md-autocomplete__dropdown {
  border-color: var(--mdErrorColor);
}

/* Error text */
.md-autocomplete__error {
  color: var(--mdErrorColor);
  font-size: 0.88rem;
}
