.md-description-list {
  display: flex;
  flex-direction: column;
  width: var(--md-size-full);
}

.md-description-list--narrow {
  max-width: 360px;
}

.md-description-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--md-size-12);
  padding: var(--md-size-16);
  background-color: var(--md-color-surface-primary);
  border-bottom: 1px solid var(--md-color-border-primary);
}

.md-description-list--narrow .md-description-list-item {
  flex-direction: column;
  padding: var(--md-size-12);
}

@media (max-width: 640px) {
  .md-description-list--narrow {
    max-width: 100%;
  }
  .md-description-list-item {
    flex-direction: column;
  }
}

.md-description-list-item-label {
  display: flex;
  align-items: center;
  font-family: var(--md-typography-family-label);
  font-size: var(--md-typography-size-16);
  font-weight: bold;
  line-height: var(--md-typography-line-height-small);
}

.md-description-list-item-description {
  display: flex;
  align-items: center;
  font-family: var(--md-typography-family-body);
  font-size: var(--md-typography-size-16);
  font-weight: var(--md-typography-weight-regular);
  color: var(--md-color-text-primary);
  margin: 0;
}
.md-description-list-item-description a:hover {
  color: var(--md-color-cta-primary-hover);
  text-decoration-thickness: 0.0938rem;
  text-decoration-color: var(--md-color-cta-primary-hover);
}

.md-description-list-item-description a:focus-visible {
  outline: var(--md-size-1) solid var(--md-color-border-tertiary);
}

.md-description-list-item-description a:active {
  background-color: var(--md-color-surface-secondary);
}

.md-description-list-item-description a:visited {
  color: var(--md-color-cta-primary-visited);
}
