/* HELP BUTTON */
.md-helpbutton {
  display: flex;
  position: relative;
  background-color: transparent;
  padding: 0;
  color: inherit;
  border: none;
  cursor: pointer;
  color: var(--md-color-cta-primary-default);
}

.md-helpbutton--expanded:not(.md-helpbutton--noarrow):after {
  content: '';
  position: absolute;
  left: 0.3rem;
  bottom: -0.65rem;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-bottom: 6px solid var(--md-color-cta-primary-default);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.md-helpbutton:focus {
  outline: none;
}

.md-helpbutton:focus .md-helpbutton__icon {
  outline: 2px solid var(--md-color-cta-primary-focus);
  outline-offset: 2px;
}

.md-helpbutton__icon {
  width: 1.25rem;
  height: 1.25rem;
}

.md-helpbutton--expanded .md-helpbutton__icon,
.md-helpbutton:hover .md-helpbutton__icon {
  color: var(--md-color-text-invert);
  fill: var(--md-color-cta-primary-default);
}

/* HELP TEXT */
.md-helptext {
  font-family: var(--md-font-family-open-sans);
  font-size: var(--md-typography-body-s-font-size);
  background-color: var(--md-color-cta-primary-default);
  color: var(--md-color-text-invert);
  padding: var(--md-size-24);
  border-radius: var(--md-radius-md);
  max-width: 100%;
}
