.md-helpbutton {
  display: flex;
  align-items: center;
  position: relative;
  background-color: transparent;
  padding: 0;
  color: inherit;
  border: none;
  cursor: pointer;
  color: var(--md-color-cta-primary-default);
}

.md-helpbutton--expanded:not(.md-helpbutton--noarrow):after {
  content: '';
  position: absolute;
  left: var(--md-size-4);
  bottom: -0.65rem;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-bottom: 6px solid var(--md-color-cta-primary-default);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.md-helpbutton:focus-visible {
  outline: none;
}

.md-helpbutton:focus-visible .md-helpbutton__icon {
  outline: var(--md-size-2) solid var(--md-color-cta-primary-default);
  outline-offset: var(--md-size-2);
}

.md-helpbutton__icon {
  width: var(--md-size-20);
  height: var(--md-size-20);
}

.md-helpbutton--expanded .md-helpbutton__icon,
.md-helpbutton:hover .md-helpbutton__icon {
  color: var(--md-color-text-inverted);
  fill: var(--md-color-cta-primary-focus);
}

.md-helptext {
  font-family: var(--md-typography-family-body);
  font-size: var(--md-typography-size-14);
  background-color: var(--md-color-cta-primary-default);
  color: var(--md-color-text-inverted);
  padding: 1.7rem;
  border-radius: 0.57rem;
  max-width: 100%;
}
