/* HELP BUTTON */
.md-helpbutton {
  display: flex;
  align-items: center;
  position: relative;
  background-color: transparent;
  padding: 0;
  color: inherit;
  border: none;
  cursor: pointer;
  color: var(--mdPrimaryColor);
}

.md-helpbutton--expanded:not(.md-helpbutton--noarrow):after {
  content: '';
  position: absolute;
  left: 0.25rem;
  bottom: -0.65rem;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-bottom: 6px solid var(--mdPrimaryColor);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

.md-helpbutton:focus-visible {
  outline: none;
}

.md-helpbutton:focus-visible .md-helpbutton__icon {
  outline: 2px solid var(--mdPrimaryColor);
  outline-offset: 2px;
}

.md-helpbutton__icon {
  width: 1.25rem;
  height: 1.25rem;
}

.md-helpbutton--expanded .md-helpbutton__icon,
.md-helpbutton:hover .md-helpbutton__icon {
  color: #fff;
  fill: var(--mdPrimaryColor80);
}

/* HELP TEXT */
.md-helptext {
  font-family: 'Open sans';
  font-size: 0.88rem;
  background-color: var(--mdPrimaryColor);
  color: #fff;
  padding: 1.7rem;
  border-radius: 0.57rem;
  max-width: 100%;
}
