.md-icon-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: var(--md-size-32);
  height: var(--md-size-32);
  justify-content: center;
  background-color: var(--md-color-primary-100);
  color: var(--md-color-grey-white);
  font-family: var(--md-font-family-open-sans);
  border-radius: var(--md-radius-xl);
  border: none;
}

.md-icon-button__icon {
  margin-top: -1px;
  height: var(--md-size-20);
  width: var(--md-size-20);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}
.md-icon-button__icon .md-loading-spinner {
  width: var(--md-size-16);
  height: var(--md-size-16);
}

.md-icon-button:focus {
  outline: 2px var(--md-color-grey-white) solid;
  background-color: var(--md-color-primary-80);
  outline-offset: -3px;
}

.md-icon-button:hover {
  cursor: pointer;
  background-color: var(--md-color-primary-120);
  border-color: var(--md-color-primary-120);
}

.md-icon-button[disabled],
.md-icon-button:disabled {
  background-color: var(--md-color-grey-20);
  color: var(--md-color-grey-60);
  cursor: not-allowed;
}
.md-icon-button:not(.md-icon-button--plain)[disabled] .md-loading-spinner,
.md-icon-button:not(.md-icon-button--plain):disabled .md-loading-spinner {
  filter: invert(0.3);
}

.md-icon-button--border {
  background-color: var(--md-color-grey-white);
  outline: 2px solid var(--md-color-primary-100);
  outline-offset: -2px;
  color: var(--md-color-primary-100);
}

.md-icon-button--border:hover:enabled {
  background-color: var(--md-color-primary-20);
}

.md-icon-button--border:hover:focus:enabled {
  background-color: var(--md-color-primary-20);
}

.md-icon-button--border:focus:enabled {
  background-color: var(--md-color-grey-white);
  border: 1px solid var(--md-color-primary-80);
  outline: 1px var(--md-color-primary-80) solid;
  outline-offset: -4px;
}

.md-icon-button--border:disabled {
  background-color: var(--md-color-grey-20);
  color: var(--md-color-grey-60);
  outline: 1px solid var(--md-color-grey-60);
  outline-offset: -1px;
}

.md-icon-button--plain {
  background-color: transparent;
  border: none;
  color: var(--md-color-primary-100);
}

.md-icon-button--plain:hover:enabled {
  text-decoration: underline;
  outline: var(--md-color-grey-100) solid 1px;
  outline-offset: -2px;
  background-color: transparent;
}

.md-icon-button--plain:focus:enabled {
  outline: 2px var(--md-color-primary-80) solid;
  outline-offset: -2px;
  background-color: transparent;
}

.md-icon-button--plain:disabled {
  background-color: transparent;
  outline: none;
  color: var(--md-color-grey-60);
}
