.md-icon-button {
  align-items: center;
  background-color: var(--mdPrimaryColor);
  color: #ffffff;
  font-family: 'Open sans';
  border-radius: 50%;
  padding: 8px;
  width: fit-content;
  border: none;
}

.md-icon-button__icon {
  height: 16px;
  width: 16px;
  position: relative;
}

.md-icon-button:focus {
  background-color: var(--mdPrimaryColor80);
  outline: 2px white solid;
  outline-offset: -3px;
}

.md-icon-button:hover {
  cursor: pointer;
  background-color: var(--mdPrimaryColor120);
  border-color: var(--mdPrimaryColor120);
}

.md-icon-button[disabled],
.md-icon-button:disabled {
  background-color: var(--mdGreyColor20);
  color: var(--mdGreyColor60);
  cursor: not-allowed;
}

.md-icon-button--border {
  background-color: #ffffff;
  outline: 2px solid var(--mdPrimaryColor);
  outline-offset: -2px;
  padding: 8px;
  color: var(--mdPrimaryColor);
}

.md-icon-button--border:hover:enabled {
  background-color: var(--mdPrimaryColor20);
}

.md-icon-button--border:hover:focus:enabled {
  background-color: var(--mdPrimaryColor20);
}

.md-icon-button--border:focus:enabled {
  background-color: #ffffff;
  border: 1px solid var(--mdPrimaryColor80);
  padding: 7px;
  outline: 1px var(--mdPrimaryColor80) solid;
  outline-offset: -4px;
}

.md-icon-button--border:disabled {
  background-color: var(--mdGreyColor20);
  color: var(--mdGreyColor60);
  padding: 8px;
  outline: 1px solid var(--mdGreyColor60);
  outline-offset: -1px;
}

.md-icon-button--plain {
  background-color: transparent;
  border: none;
  color: var(--mdPrimaryColor);
}

.md-icon-button--plain:hover:enabled {
  text-decoration: underline;
  outline: black solid 1px;
  outline-offset: -2px;
  background-color: transparent;
}

.md-icon-button--plain:focus:enabled {
  outline: 2px var(--mdPrimaryColor80) solid;
  outline-offset: -2px;
  background-color: transparent;
}

.md-icon-button--plain:disabled {
  background-color: transparent;
  outline: none;
  color: var(--mdGreyColor60);
}