.md-multiautocomplete {
  font-family: var(--md-font-family-open-sans);
  width: 100%;
}

.md-multiautocomplete--medium {
  max-width: 440px;
}

.md-multiautocomplete--small {
  max-width: 260px;
}

.md-multiautocomplete__container {
  position: relative;
  background-color: var(--md-color-surface-primary);
}

.md-multiautocomplete__label {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
  padding-bottom: var(--md-size-8);
}

.md-multiautocomplete__label > * + * {
  margin-left: var(--md-size-16);
}

.md-multiautocomplete__input {
  max-width: 100%;
  width: 100%;
  background-color: transparent;
  border-radius: 0;
  color: var(--md-color-text-primary);
  box-sizing: border-box;
  font-family: var(--md-font-family-open-sans);
  font-size: var(--md-typography-body-m-font-size);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--md-size-16);
  border: 1px solid var(--md-color-grey-60);
  text-align: left;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.md-multiautocomplete__input.md-multiautocomplete__input--error {
  border-color: var(--md-color-support-error-100);
}

.md-multiautocomplete--small > .md-multiautocomplete__input {
  padding: 0.75rem;
}

.md-multiautocomplete--disabled .md-multiautocomplete__input {
  background-color: var(--md-color-grey-20);
  color: var(--md-color-grey-60);
  cursor: not-allowed;
}

.md-multiautocomplete__input:focus,
.md-multiautocomplete__input:focus-within {
  outline: none;
}

.md-multiautocomplete__input-text {
  display: flex;
  flex-grow: 1;
  padding-right: 1rem;
}

.md-multiautocomplete__input.md-multiautocomplete__input--has-prefix {
  padding-left: 2.5rem;
}

.md-multiautocomplete__input--small.md-multiautocomplete__input--has-prefix {
  padding-left: 1.8rem;
}

.md-multiautocomplete__input__prefix {
  position: absolute;
  top: 1.1rem;
  left: 1rem;
  height: 1.25rem;
  width: 1.25rem;
  display: flex;
  color: var(--md-color-primary-100);
  z-index: 2;
}

.md-multiautocomplete--small > .md-multiautocomplete__input__prefix {
  top: 1rem;
  left: 1rem;
}

.md-multiautocomplete__input__prefix.md-multiautocomplete__input__prefix--disabled {
  color: var(--md-color-grey-60);
}

.md-multiautocomplete__input-icon {
  position: absolute;
  top: 1.3rem;
  right: 0.9em;
  display: flex;
  width: 1rem;
  height: 1rem;
  color: var(--md-color-grey-100);
  z-index: 0;
}

.md-multiautocomplete--small > .md-multiautocomplete__input-icon {
  top: 1rem;
  right: 1rem;
}

.md-multiautocomplete__button-text {
  padding-right: 0.5rem;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.md-multiautocomplete__button-hasmultiple {
  position: absolute;
  top: 1.5rem;
  right: 4.5rem;
  display: flex;
  z-index: 0;
  font-size: 0.8rem;
}

.md-multiautocomplete__help-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}

.md-multiautocomplete__help-text--open {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  max-height: 2000px;
  transition: max-height 0.5s ease-in;
}

.md-multiautocomplete__dropdown {
  position: absolute;
  max-height: 0;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
  transition: max-height 0.5s ease-in-out;
  width: 100%;
}

.md-multiautocomplete__dropdown-item {
  display: flex;
  align-items: center;
  font-family: var(--md-font-family-open-sans);
  border: 0;
  font-size: var(--md-typography-body-m-font-size);
  background-color: var(--md-color-surface-primary);
  width: 100%;
  text-align: left;
  padding: var(--md-size-16);
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
}

.md-multiautocomplete__dropdown-item:hover,
.md-multiautocomplete__dropdown-item:focus {
  outline: none;
  background-color: var(--md-color-primary-10020);
  transition: background-color 0.15s ease-in-out;
}

.md-multiautocomplete__dropdown-item--selected {
  background-color: var(--md-color-primary-10010);
}

.md-multiautocomplete__dropdown-item-text {
  display: flex;
  flex-grow: 1;
}

.md-multiautocomplete__dropdown-item-clear {
  display: flex;
  flex-shrink: 0;
  height: 0.75rem;
  width: 0.75rem;
  color: var(--md-color-primary-100);
}

.md-multiautocomplete__dropdown-no-results {
  padding: 0.9rem;
  background-color: #fff;
  font-style: italic;
}

.md-multiautocomplete__chips {
  display: flex;
  margin-top: 0.7rem;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/* Open state */
.md-multiautocomplete--open .md-multiautocomplete__input {
  border-left: 2px solid var(--md-color-primary-100);
  border-right: 2px solid var(--md-color-primary-100);
  border-top: 2px solid var(--md-color-primary-100);
  padding-bottom: calc(1rem - 1px);
}
.md-multiautocomplete--open.md-multiautocomplete--small .md-multiautocomplete__input {
  padding-bottom: calc(0.75rem - 1px);
}

.md-multiautocomplete--open .md-multiautocomplete__dropdown {
  max-height: 350px;
  overflow-y: auto;
  opacity: 1;
  transition: max-height 0.5s ease-in-out;
  border-right: 2px solid var(--md-color-primary-100);
  border-left: 2px solid var(--md-color-primary-100);
  border-bottom: 2px solid var(--md-color-primary-100);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 3;
}

/* Focus state */
.md-multiautocomplete:not(.md-multiautocomplete--open) .md-multiautocomplete__input:focus {
  border: 2px solid var(--md-color-primary-100);
}

/* open + error */
.md-multiautocomplete--open.md-multiautocomplete--error .md-multiautocomplete__input {
  border-color: var(--md-color-support-error-100);
}
.md-multiautocomplete--open.md-multiautocomplete--error .md-multiautocomplete__dropdown {
  border-color: var(--md-color-support-error-100);
}

/* Error text */
.md-multiautocomplete__error {
  color: var(--md-color-support-error-100);
  font-size: 0.88rem;
}
