.md-multiselect {
  font-family: var(--md-typography-family-body);
  width: 100%;
}

.md-multiselect--medium {
  max-width: 440px;
}

.md-multiselect--small {
  max-width: 260px;
}

.md-multiselect__label {
  display: flex;
  align-items: flex-end;
}

.md-multiselect__label label {
  font-weight: var(--md-typography-weight-medium);
}

.md-multiselect__label-wrapper {
  margin-bottom: 0.5rem;
}

.md-multiselect__label > * + * {
  margin-left: 1rem;
}

.md-multiselect__button {
  font-family: var(--md-typography-family-body);
  font-size: var(--md-typography-size-16);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid var(--mdGreyColor60);
  color: var(--mdGreyColor);
  text-align: left;
  cursor: pointer;
}

.md-multiselect__button.md-multiselect--small {
  padding: 0.75rem;
}

.md-multiselect--disabled .md-multiselect__button {
  background-color: var(--mdGreyColor20);
  color: var(--mdGreyColor60);
  cursor: default;
}

.md-multiselect__button:focus-visible,
.md-multiselect__button:focus-within {
  outline: none;
}
.md-multiselect:not(.md-multiselect--disabled)
  .md-multiselect__button.md-multiselect--small:not(.md-multiselect__button--open):focus-visible,
.md-multiselect:not(.md-multiselect--disabled)
  .md-multiselect__button.md-multiselect--small:not(.md-multiselect__button--open):focus-within {
  padding: calc(0.75rem - 1px);
  border: 2px solid var(--mdPrimaryColor80);
}

.md-multiselect:not(.md-multiselect--disabled) .md-multiselect__button:not(.md-multiselect__button--open):focus-visible,
.md-multiselect:not(.md-multiselect--disabled) .md-multiselect__button:not(.md-multiselect__button--open):focus-within {
  padding: calc(1rem - 1px);
  border: 2px solid var(--mdPrimaryColor80);
}

.md-multiselect--error:not(.md-multiselect--disabled) .md-multiselect__button {
  border-color: var(--mdErrorColor);
}

.md-multiselect__button-text {
  padding-right: 0.5rem;
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.md-multiselect__button-icon {
  display: flex;
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25rem;
  rotate: 90deg;
  color: var(--mdGreyColor);
}

.md-multiselect__button-hasmultiple {
  margin-right: 1rem;
  font-size: 0.8rem;
}

.md-multiselect__help-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.15s ease-out;
}

.md-multiselect__help-text--open {
  padding-top: 0.5rem;
  max-height: 2000px;
  transition: max-height 0.5s ease-in;
}

.md-multiselect__dropdown-wrapper {
  position: relative;
}

.md-multiselect__dropdown {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s linear;
}

.md-multiselect__dropdown-item {
  display: flex;
  align-items: center;
  font-family: var(--md-typography-family-body);
  font-size: var(--md-typography-size-16);
  border: 0;
  background-color: #fff;
  text-align: left;
  transition: background-color 0.15s ease-in-out;
  cursor: pointer;
}

.md-multiselect__dropdown-item .md-checkbox {
  /* display: flex; */
  max-width: 100%;
  width: 100%;
}

.md-multiselect__dropdown-item .md-checkbox .md-checkbox__label {
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  padding: 0.75rem;
}

.md-multiselect__dropdown-item .md-checkbox .md-checkbox__label .md-checkbox__labelText {
  padding: 0;
}

.md-multiselect__dropdown-item .md-checkbox__labelText {
  font-family: var(--md-typography-family-label);
  font-size: var(--md-typography-size-16);
  font-style: normal;
  font-weight: var(--md-typography-weight-regular);
  line-height: 1.375rem;
  color: var(--mdGreyColor);
}

.md-multiselect__dropdown-item:hover,
.md-multiselect__dropdown-item:focus-visible,
.md-multiselect__dropdown-item:focus-within {
  outline: none;
  background-color: var(--mdPrimaryColor20);
  transition: background-color 0.15s ease-in-out;
}

.md-multiselect__dropdown-item:hover .md-checkbox__label,
.md-multiselect__dropdown-item:focus-visible .md-checkbox__label,
.md-multiselect__dropdown-item:focus-within .md-checkbox__label {
  outline: none;
}

.md-multiselect__dropdown-item:hover .md-checkbox .md-checkbox__label::before,
.md-multiselect__dropdown-item:focus-visible .md-checkbox .md-checkbox__label::before,
.md-multiselect__dropdown-item:focus-within .md-checkbox .md-checkbox__label::before {
  background-color: #fff;
}

.md-multiselect__dropdown-item-text {
  display: flex;
  flex-grow: 1;
  margin-left: 1rem;
}

.md-multiselect__dropdown-item-checkbox {
  background-color: #ffffff;
  border: 1px solid var(--mdGreyColor60);
  content: '';
  cursor: pointer;
  height: 1.25rem;
  width: 1.25rem;
}

.md-multiselect__dropdown-item--selected .md-multiselect__dropdown-item-checkbox {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iZTk2NWRkN2EtN2NlNS00MTc0LThjMjEtY2UwNjIzYmFmNTJhIiBkYXRhLW5hbWU9ImNoZWNrbWFyay1ncmVlbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMTMgMTAuMDIiPjx0aXRsZT5jaGVja21hcmstZ3JlZW48L3RpdGxlPjxwYXRoIGQ9Ik0xMS4xNCwwLDQuODMsNi4zMWwtMy0zTDAsNS4xOSw0LjgzLDEwLDEzLDEuODZaIiBmaWxsPSIjMDA2MTVjIiAvPjwvc3ZnPg==);
  background-repeat: no-repeat;
  background-position-y: 2px;
  background-position-x: 1px;
  background-size: 1.125rem;
}

.md-multiselect__error {
  color: var(--mdErrorColor);
  font-size: 0.88em;
  margin-top: 0.5rem;
}

.md-multiselect__chips {
  display: flex;
  margin-top: 0.7rem;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/* Open state */
.md-multiselect--open .md-multiselect__button {
  border-top: 2px solid var(--mdPrimaryColor80);
  border-right: 2px solid var(--mdPrimaryColor80);
  border-left: 2px solid var(--mdPrimaryColor80);
  padding: calc(1rem - 1px);
  padding-bottom: 1rem;
}

.md-multiselect--open .md-multiselect__button.md-multiselect--small {
  border-top: 2px solid var(--mdPrimaryColor80);
  border-right: 2px solid var(--mdPrimaryColor80);
  border-left: 2px solid var(--mdPrimaryColor80);
  padding: calc(0.75rem - 1px);
  padding-bottom: 0.75rem;
}

.md-multiselect__button:not(.md-multiselect__button--open):focus-visible,
.md-multiselect__button:not(.md-multiselect__button--open):focus-within {
  padding: calc(1rem - 1px);
  border: 2px solid var(--mdPrimaryColor80);
}

.md-multiselect__button.md-multiselect--small:not(.md-multiselect__button--open):focus-visible,
.md-multiselect__button.md-multiselect--small:not(.md-multiselect__button--open):focus-within {
  padding: calc(0.75rem - 1px);
  border: 2px solid var(--mdPrimaryColor80);
}

.md-multiselect__dropdown--open {
  max-height: 350px;
  overflow-y: auto;
  z-index: 2;
  opacity: 1;
  border: 2px solid var(--mdPrimaryColor80);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border-top: 0;
}
.md-multiselect--open.md-multiselect--error .md-multiselect__dropdown {
  border-color: var(--mdErrorColor);
}
