.md-filelist {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.md-filelist__file {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--color-border-tertiary);
  padding: var(--spacing-12) var(--spacing-16);
  font-family: var(--font-family-open-sans);
  background-color: var(--color-surface-primary);
  transition: background 0.2s linear;
}

.md-filelist__file:hover {
  background-color: var(--color-cta-secondary-hover);
  transition: background 0.2s linear;
}

.md-filelist__file-label {
  display: flex;
  gap: var(--spacing-16);
  font-size: var(--typography-body-m-font-size);
}

.md-filelist__file-icon {
  width: var(--spacing-32);
}

.md-filelist__file-size {
  font-size: var(--typography-body-s-font-size);
  margin-top: 0.3rem;
}

.md-filelist__file-actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-16);
}
