.md-filelist {
  display: flex;
  flex-direction: column;
  gap: var(--md-size-8);
}

.md-filelist__file {
  display: flex;
  justify-content: space-between;
  border: var(--md-size-1) solid var(--md-color-cta-secondary-stroke);
  padding: 0.8rem 1.1rem;
  font-family: var(--md-typography-family-body);
  background-color: var(--md-color-background-primary);
  transition: background 0.2s linear;
}

.md-filelist__file:hover {
  background-color: var(--md-color-cta-secondary-hover);
  transition: background 0.2s linear;
}

.md-filelist__file-label {
  display: flex;
  gap: var(--md-size-16);
  font-size: var(--md-typography-size-16);
}

.md-filelist__file-icon {
  width: var(--md-size-32);
}

.md-filelist__file-size {
  font-size: var(--md-typography-size-14);
  margin-top: 0.3rem;
}

.md-filelist__file-actions {
  display: flex;
  align-items: center;
  gap: var(--md-size-16);
}
