.md-filelist {
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.md-filelist__file {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--mdPrimaryColor);
  padding: .8em 1.1em;
  font-family: 'Open sans';
  background-color: #fff;
  transition: background .2s linear;
}

.md-filelist__file:hover {
  background-color: var(--mdPrimaryColor20);
  transition: background .2s linear;
}

.md-filelist__file-label {
  display: flex;
  gap: 1.5em;
  font-size: 16px;
}

.md-filelist__file-icon {
  height: 24px;
  width: 19px;
}

.md-filelist__file-size {
  font-size: 14px;
  margin-top: .3em;
}

/* File actions */
.md-filelist__file-actions {
  display: flex;
  align-items: center;
  gap: 1em;
}

.md-filelist__file-actions-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 100px;
  border: 0;
  padding: .2em;
  cursor: pointer;
  transition: background .1s linear;
}

.md-filelist__file-actions-button:hover {
  background-color: #fff;
  transition: background .1s linear;
}

.md-filelist__file-delete-icon {
  height: 18px;
  width: 15px;
}

.md-filelist__file-download-icon {
  height: 20px;
  width: 20px;
}
