name: deploy-storybook-workflow
on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/**'
      - 'packages/**'
      - 'stories/**'
      - 'assets/**'
      - 'themes/**'
      - README.md
      - package.json
      - package-lock.json
jobs:
  deploy-storybook:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v7
      - uses: actions/setup-node@v6
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm ci
      - name: Deploy storybook to GitHub Pages
        run: npm run deploy-storybook -- --ci --source-branch main
        env:
          GH_TOKEN: ${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}
